@page "Consent"
@model ConsentModel
@{
     ViewData["Title"] = "Consent";
}

@*If any changes are made to this page,
make sure to increment the ConsentVersion in appsettings*@


<h1>@ViewData["Title"]</h1>

@if (@Model.ModelState.IsValid == false)
{
            <div class="text-danger">
            <h2>Validation Errors: </h2>
            <span>You must check all of the required checkboxes to proceed.</span>

        </div>
}

    <div class="text-center">
        <br />
        <h2>University of Illinois Urbana-Champaign</h2>
        <h3>Online Consent Form</h3>
    </div>

    <div class="container" id="container" style="font-size:x-large">       
    <br />
    <p><strong>Speech Accessibility Project: Individuals with disabilities helping researchers to improve technology</strong></p>
    <p>
        You are being asked to participate in a voluntary research study that is called the “Speech Accessibility
        Project.” The purpose of this study is to help researchers at universities and companies to develop
        spoken-language user interfaces that work for people with atypical speech. Software programs that
        understand speech are developed using machine learning. Machine learning is a software development
        method that imitates the way humans learn, by testing the software repeatedly, and changing its
        behavior whenever it makes a mistake. In this way, the software learns to reduce the risk of similar
        mistakes in the future.</p>
    <p>&nbsp;</p>
        <p> By providing examples of the sounds of atypical speech, this study will make it
        possible for the software to learn how to make fewer mistakes when it encounters atypical speech in
        the future. Participating in this study is all online and will involve recording sentences and uploading
        your audio recordings to a secure encrypted storage system. We ask you to provide up to 600 speech
        samples or about 5 hours of your time which you can do any time online, at your own pace and
        convenience. Risks associated with this study are no greater than those in everyday life. There is no
        expected benefit of this research to you personally; the expected benefit to society is that companies
        and organizations using your speech recordings will be able to train better speech technology for people
        with speech and motor disabilities, which will make technology more accessible for everyone.
    </p><br />
    <p><strong>Project Name: &nbsp;</strong>The Speech Accessibility Project which has the website:&nbsp;<a href="https://speechaccessibilityproject.beckman.illinois.edu/">https://speechaccessibilityproject.beckman.illinois.edu/</a><strong>&nbsp;</strong></p>
    <p>&nbsp;</p>
    <p><strong>Principal Investigator Name and Title: </strong>Professor Mark Hasegawa-Johnson, University of Illinois Urbana-Champaign (&ldquo;UIUC&rdquo;), Beckman Institute and Department of Electrical and Computer Engineering.</p>
       <p>&nbsp;</p>
    <p> <strong>Contact Information</strong>: &nbsp;<a href="mailto:speechaccessibility@beckman.illinois.edu">speechaccessibility@beckman.illinois.edu</a>&nbsp;is the team email address.</p>
       <p>&nbsp;</p>
    <p> <strong>Organizations that will perform this study</strong>: University of Illinois Urbana-Champaign (UIUC) is the lead
organization that will perform this study and has partnered with the Davis Phinney Foundation and
LSVT Global, two organizations that advocate for people with Parkinson's.
</p>
    <p>&nbsp;</p>
    <p> <strong>Sponsor</strong>: The Speech Accessibility Project is funded by a consortium that currently includes five companies: Amazon, Apple, Google, Microsoft, and Meta (parent company of Facebook). &nbsp;In the future, other companies, universities, and organizations may join this consortium as well.</p>
    <br />
    <p> <strong>Why am I being asked?&nbsp;</strong></p>
    <p>You are being asked to participate in this study because you are an
        adult who is part of a community of people who may have atypical 
        or non-standard speech, and you have already qualified to be in 
        the study by successfully answering our pre-screening questions
        and providing a set of speech samples.</p>
    <p>&nbsp;</p>
        <p>We plan to recruit more
        than 1,000 people to be in this study. Because the purpose of this
        study is to help organizations develop better speech interfaces
        for technologies, our team needs to gather many different types
        of speech samples from many types of voices.</p>
            <p>&nbsp;</p>
        <p>
        Your participation in this research is voluntary.
        Your decision whether or not to participate will not affect your
        current or future dealings with the University of Illinois
        Urbana-Champaign, its partners, or its sponsors of this project.
        If you decide to participate, you are free to withdraw at any time without affecting that relationship. </p>
      <br />
    <p><strong>What procedures are involved?</strong></p>
    <p>We will provide you with access to a website where you can record up to 600 speech samples by either reading the text prompt aloud, or by speaking the answer to a question. You can do these recordings at any time, 24/7, at whatever pace you wish. We encourage you to record at different times of day so that we can learn how your speech might change throughout the day. And don’t worry about giving us “bad” samples – all data are really helpful. The more diverse our data set is, the better!</p>
    <p>&nbsp;</p>
    <p>You have the option to work with our partner organization, LSVT Global, to get help. LSVT Global can provide you with a mentor to help you do your recordings, give you advice about your microphone settings, and give you tips for when and where to do your recordings.</p>
    <p>&nbsp;</p>
    <p>You may take up to three months to finish recording the 600 speech samples. If you will need more than three months, please contact the research team at UIUC at&nbsp;<a href="mailto:speechaccessibility@beckman.illinois.edu">speechaccessibility@beckman.illinois.edu</a>.&nbsp;</p>
        <p>&nbsp;</p>
    <p>We will ask you whether you consider U.S. English to be your first language. People who speak English as a second language are sometimes better recognized by devices that also know multiple languages. If you provide this information, it will be shared with researchers using the data.</p>
    <p>&nbsp;</p>
    <p>We will also ask you to provide optional data about yourself, such as your age, racial and ethnic identity, and questions about how your speech ability may have impacted your everyday life. You are not required to answer any of these questions. This information will only be used to confirm diverse representation in this data collection, and, if provided, will not be shared outside of the UIUC research team.</p>
    <p>&nbsp;</p>
    <p>The UIUC research team will review all of your speech samples, and we will edit them to protect your privacy by removing any references to personally identifiable information about you or others that you might have said in your answers to our question prompts. We will also annotate your samples with “tags” that refer to technical aspects of the acoustic signals in your samples. We will not attach your name or email address to these samples; instead, we will assign a unique participant identification code to you and will annotate your samples with that code. Only the UIUC research team will know the “identity key” that relates your email address to your participant identification code.</p>
    <p>&nbsp;</p>
    <p>The UIUC Speech Accessibility Project research team has established a secure, fully encrypted storage system at the UIUC Beckman Institute to store your samples. We will separately store your identifiable information in a separate secure database. We have also established a secure data sharing mechanism with the partners in our consortium. Right now, our partners are the five company sponsors of this project: Amazon, Apple, Google, Meta, and Microsoft. UIUC researchers and researchers at each of the partners will use the collected speech samples to train machine learning algorithms to perform better on speech recognition tasks. These partners will only have access to your speech samples and to no other data about you. </p>
    <p>&nbsp;</p>
    <p >The five corporate sponsors of this research at UIUC have signed a legal agreement with the University that sets forth the permitted purposes of the speech data collected from this research project. &nbsp; These permitted purposes are only for research and technology development as stated here:&nbsp;</p>
    <ul style="">
        <li>Your samples will be kept forever, to assist in research and technology development in perpetuity.</li>
        <li>Your samples are not identified with your name or email address, but only with a unique participant code that is only known to the UIUC research team.</li>
        <li>Your samples will be analyzed by the UIUC research team to verify that the study is being done properly and to provide advice to other researchers about how to design or improve future studies.</li>
        <li>Your samples will be analyzed and combined with other people&rsquo;s samples to create aggregate results that will be published in the research literature.&nbsp;</li>
        <li>Your samples will be used to advance understanding of machine learning-related data variances associated with atypical speech variations, and eventually to develop products, technologies, and services by or on behalf of our sponsors to improve communications and increase access to technology, including the creation and training of machine learning solutions and artificial intelligence models for both research and commercial purposes. &nbsp;&nbsp;</li>
    </ul>
        <p>&nbsp;</p>
    <p>In the future, any additional partner organizations in this consortium will sign data use agreements with the same terms and conditions. For these future uses of your data, we will not ask you to consent again. In other words, the future use of your de-identified data could happen without additional informed consent. </p>
    <p>&nbsp;</p>
    <p >In summary, your speech samples will help researchers at UIUC and its partner organizations to develop better speech recognition technology algorithms and may eventually help commercial products perform more effectively for people with atypical speech. &nbsp; &nbsp;</p>
    <br />
    <p><strong>What are the potential risks and discomforts?&nbsp;</strong></p>
    <p>In general, we believe that the risks of your participation in this research study are no more than you would encounter in everyday life. &nbsp;However, we do recognize two issues that may be risks in this study, and we also have designed measures to minimize these risks.&nbsp;</p>
    <p>&nbsp;</p>
    <p>First, you may get tired. To minimize your tiredness, we have arranged to let you record your speech samples over multiple sessions. You can log in to the system at a time and location convenient to you, and record at your own pace. You can also log out at any time, then log in again to continue recording as you wish. &nbsp;We hope that this flexibility and convenience will minimize any fatigue that you may experience.</p>
    <p>&nbsp;</p>
    <p>Second, as is true for almost any online data collection research study, there is a risk that your speech samples could&nbsp;be released for purposes and to other individuals, companies, and organizations beyond the purposes to which you have given consent. Please know that the UIUC team has designed measures to minimize the possibility of unauthorized data release include the following:</p>
    <ul>
        <li>&nbsp;Participant code numbers will be used to annotate all speech recordings; your name and email address are not attached to any speech samples directly.&nbsp;</li>
        <li>All organizations using your speech recordings are required to sign a data use agreement, in which they agree that they will store the data securely, that they will prevent unauthorized access, and that they will not attempt to identify you or obtain any other identifying information about you.</li>
        <li>Researchers from outside UIUC will not know your name, e-mail address, state of residence, or any other identifying information about you. Identifying information will be stored separately from your speech recordings, in a database accessible only to UIUC research team members. &nbsp;In addition, the UIUC team will edit and annotate your speech samples to protect your privacy.</li>
        <li>You are allowed to withdraw your voluntary consent at any time and request that all of your data be destroyed. When you notify the UIUC team that you wish to have all of your speech samples destroyed, UIUC will ensure that your speech recordings are removed from the UIUC secure system and will direct our partners that you wish your data to be removed from any copies they have as well.</li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>Are there benefits to participating in the research?&nbsp;</strong></p>
    <p>There is no immediate benefit of this research to you personally.&nbsp;</p>
    <p>&nbsp;</p>
    <p >Information obtained from you in this research may help in the development of commercial products by UIUC, its research partners, or members of the consortium. &nbsp;There are no plans to provide financial compensation to you should this occur.</p>
    <p>&nbsp;</p>
    <p>The expected benefit to society is that companies and organizations will be able to develop better spoken-language user interfaces so that people with atypical speech can be as easily understood as other people with typical speech.</p>
    <br />
    <p><strong>What other options are there?&nbsp;</strong></p>
    <p>You have the option to not participate in this study. &nbsp;This study is entirely voluntary.</p>
    <br />
    <p><strong>Will my study-related information be kept confidential?&nbsp;</strong></p>
    <p>Because your voice is identifiable, the UIUC research team has made every effort to protect the audio records of your speech samples. The UIUC team will edit out identifying information from your speech samples (such as your name) and will only store your audio files with a participant code number. &nbsp;This participant code number is stored with your identifiable information on a secure server at the UIUC Beckman Institute, and this &ldquo;identity key&rdquo; information is only accessible by the UIUC research team. This information is necessary in order to pay you for your participation in this project.</p>
    <p>&nbsp;</p>
    <p>As described previously, the UIUC team will also listen to all of your speech samples and edit out any personaly identifiable information.&nbsp;</p>
    <p>&nbsp;</p>
    <p>Faculty, staff, students, and others with permission or authority to see your study information (such as University auditors) will maintain its confidentiality to the extent permitted and required by laws and university policies.&nbsp;</p>
    <p>&nbsp;</p>
    <p>Speech recordings will be distributed only to companies and organizations that have signed a data use agreement, agreeing to confidentiality terms specified above. No other personally identifiable &nbsp;information will be published or presented.&nbsp;</p>
    <p>&nbsp;</p>
    <p>Because this is a research project, we do expect to publish research papers as a result of this study. &nbsp;These papers may be in the public domain. &nbsp;Research papers will never state your name or any identifying information about you. &nbsp;Optionally, you may choose to allow us to share samples of your voice as part of research publications or presentations, but this is not required.</p>
    <br />
    <p><strong>Will I be reimbursed for any expenses or paid for my participation in this research?&nbsp;</strong></p>
    <p>You will be compensated up to $180 as follows: $60 after recording the 200<sup>th&nbsp;</sup>sample, an additional $60 after recording the 400<sup>th&nbsp;</sup>sample, and an additional $60 after recording the 600<sup>th&nbsp;</sup>sample.&nbsp;</p>
        <p>&nbsp;</p>
    <p>In addition to your own payment, if you require the help of a caregiver to use a web browser, please contact the UIUC research team at&nbsp;<a href="mailto:speechaccessibilityproject@beckman.illinois.edu">speechaccessibilityproject@beckman.illinois.edu</a>&nbsp;to validate that your caregiver may also receive compensation for helping you. Named caregivers will be compensated with up to $90 as follows: $30 after recording the 200<sup>th&nbsp;</sup>sentence, an additional $30 after recording the 400<sup>th</sup>&nbsp;sentence, and an additional $30 after recording the 600<sup>th&nbsp;</sup>sentence.</p>
    <p>&nbsp;</p>
    <p>Payments will be made through email using Amazon ecodes.&nbsp;</p>
    <br />
    <p><strong>Can I withdraw or be removed from the study?&nbsp;</strong></p>
    <p>Yes. You are free to withdraw your consent and discontinue participation at any time by notifying the UIUC research team by email or phone. The UIUC research team also have the right to stop your participation in this study without your consent if they believe it is in your best interests. If you withdraw consent, the UIUC research team will remove your speech recordings from the UIUC database and will notify the sponsors and partners that they should also remove your data from their own databases using only your anonymized participant code number. If you withdraw consent, your data will not be used for any future research. If the data you previously provided has been used to inform or create computer code or machine learning algorithms it may not be possible for your data to be removed from them.</p>
    <br />
    <p><strong>Will data collected from me be used for any other research?&nbsp;</strong></p>
    <p>As stated above, UIUC and its partners in the Speech Accessibility Project consortium will use your speech samples to advance&nbsp;understanding of machine learning-related data variances associated with atypical speech variations, and to develop products, technologies, and services to improve communications and increase access to technology, including computational use, and the creation and training of machine learning solutions and artificial intelligence models including for research and for commercial purposes.</p>
    <p>&nbsp;</p>
    <p>It is possible that, in the future, other organizations will be granted access to the data, in addition to the founding consortium partners that are Amazon, Apple, Google, Meta, and Microsoft. These other organizations may be other universities or other companies. All organizations seeking access to the data will be required to sign data use agreements that specify the same terms as above: that your speech samples will only be used for research and technology development, that your data will be stored securely, and that you may withdraw consent at any time. You may not be asked to provide additional consent for these future uses of your data.</p>
   <br />
    <p><strong>Who should I contact if I have questions?&nbsp;</strong></p>
    <p>Contact the UIUC research team leader, Professor Mark Hasegawa-Johnson (<a href="mailto:jhasegaw@illinois.edu">jhasegaw@illinois.edu</a>&nbsp;), if you have any questions about this study or your part in it, or if you have concerns or complaints about the research.&nbsp;</p>
    <br />
    <p><strong>What are my rights as a research subject?</strong></p>
    <p>If you have any questions about your rights as a research subject, including concerns, complaints, or to offer input, you may call the UIUC Office for the Protection of Research Subjects (OPRS) at 217-333-2670 or e-mail OPRS at&nbsp;<a href="mailto:irb@illinois.edu">irb@illinois.edu</a>. If you would like to complete a brief survey to provide OPRS feedback about your experiences as a research participant, please follow the link&nbsp;<a href="https://redcap.healthinstitute.illinois.edu/surveys/?s=47X9T4NE4X">here</a>&nbsp;or through a link on the OPRS website:&nbsp;<a href="https://oprs.research.illinois.edu/">https://oprs.research.illinois.edu/</a>. You will have the option to provide feedback or concerns anonymously or you may provide your name and contact information for follow-up purposes.&nbsp;</p>
    <br />
    <p><strong>Please print this consent form if you would like to retain a copy for your records.</strong></p>
    
    <p><strong>If you would like to download a PDF copy of the IRB approved Consent Form for your records, please <a download href="~/parkinsons consent form.pdf">click here.</a></strong></p>

    <p><br> <strong>Please read each item carefully and check each box to indicate your agreement.</strong></p>
    <p>&nbsp;</p>
       
    <form method="post" id="consentForm">      
       
        <p><input  type="checkbox" id="readAndUnderstandConsent" asp-for="readAndUnderstandConsent" value=true>
            <label style="display:inline" for="readAndUnderstandConsent"> I have read and understand the above consent form.</label><br /><span class="text-danger">@Html.ValidationMessage("readAndUnderstandValidation")</span></p>
    <p>&nbsp;</p>
        <p><input  type="checkbox" id="legalAgreementConsent" asp-for="legalAgreementConsent">
            <label style="display:inline" for="legalAgreementConsent"> I understand that my speech samples are collected for the purpose of improving speech recognition technology and are protected by a legal agreement between UIUC and the current members of the Speech Accessibility Project coalition, and that future members of the data coalition and any future data licensees will also be bound by similar legal agreements.</label><br /><span class="text-danger">@Html.ValidationMessage("legalAgreementValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="eighteenConsent" asp-for="eighteenConsent">
            <label style="display:inline" for="eighteenConsent"> I certify that I am 18 years old or older.</label><br /><span class="text-danger">@Html.ValidationMessage("eighteenValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="validEmailConsent" asp-for="validEmailConsent">
            <label style="display:inline" for="validEmailConsent"> I understand that I must maintain a valid email address in order to participate in this study and to be paid for my participation.</label><br /><span class="text-danger">@Html.ValidationMessage("emailValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="loginConsent" asp-for="loginConsent">
            <label style="display:inline" for="loginConsent">I certify that I and I alone will use my login to record speech samples. I will not allow other people to record speech samples on my behalf.</label><br /><span class="text-danger">@Html.ValidationMessage("loginValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="financialCompensationConsent" asp-for="financialCompensationConsent">
            <label style="display:inline" for="financialCompensationConsent">I understand that the only financial compensation that I will receive for participating in this study is the payment for contributing speech samples, which will be $60 for every batch of 200 samples I provide.</label><br /><span class="text-danger">@Html.ValidationMessage("financialCompensationValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="maxPaymentConsent" asp-for="maxPaymentConsent">
            <label style="display:inline" for="maxPaymentConsent"> I understand that my goal is to provide 600 samples total, and that therefore my maximum payment will be $180.</label><br /><span class="text-danger">@Html.ValidationMessage("maxPaymentValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="caregiverConsent" asp-for="caregiverConsent">
            <label style="display:inline" for="caregiverConsent">I understand that if I need the help of a caregiver to contribute speech samples, that I must notify the UIUC team and have my caregiver approved to be paid in addition to myself.</label><br /><span class="text-danger">@Html.ValidationMessage("caregiverValidation")</span>
        </p>
    <p>&nbsp;</p>
    <p><input  type="checkbox" id="withdrawalConsent" asp-for="withdrawalConsent">
            <label style="display:inline" for="withdrawalConsent">I understand that at any time, I can end my participation and withdraw my consent. &nbsp;When I do so, the UIUC research team will remove all of my speech samples from the UIUC secure system. I also understand that it is UIUC&rsquo;s responsibility to ask all sponsors and partners to remove any copies of my speech samples from their own databases as well.</label><br /><span class="text-danger">@Html.ValidationMessage("withdrawalValidation")</span>
        </p>
    <p>&nbsp;</p>
    <p><strong><em>Optional checkbox</em></strong><em>: By checking the box below, you may also specifically grant your consent for the research team to play or provide audio files of your voice in a public research setting or publication.&nbsp;</em></p>
        <p>
            <input  type="checkbox" id="shareSamplesConsent" asp-for="shareSamplesConsent">
            <label style="display:inline" for="shareSamplesConsent">I consent to have my voice samples shared in public at research conferences and similar professional meetings, and to have digital audio files of my voice be shared as part of professional research publications.</label>
        </p>
    <p>&nbsp;</p>
    <p><strong><em>Optional checkbox</em></strong><em>: By checking the box below, you may also specifically grant your consent to share your contact information with other research teams, so that they may contact you to be a potential participant in their own research studies.</em></p>
        <p><input  type="checkbox" id="shareContactInfoConsent" asp-for="shareContactInfoConsent">
            <label style="display:inline" for="shareContactInfoConsent">I consent to have my email address and phone number be shared with other research teams, who may contact me to participate in their studies.</label>
        </p>
    <p>&nbsp;</p>
    <p>By clicking the &ldquo;I CONSENT&rdquo; button below, I indicate my willingness to voluntarily take part in this study.</p>
    <p>&nbsp;</p>
    <button class="btn btn-primary" id="consentButton">I CONSENT</button>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#consentForm").submit(function () {

            //disable the submit button
            $("#consentButton").attr("disabled", true);
            return true;
        });
    });

    function enableSubmit() {
        $("#consentButton").attr("disabled", false);
    }

    const form = document.querySelector('form');
    form.addEventListener('change', function () {
        enableSubmit();
    });

</script>