@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="registerForm">
    <hr />


    <div asp-validation-summary="All" class="text-danger">
                    <h2>Register Errors:</h2>
                </div>


    <div class="form-row">
        <span style="color:red">*</span>
        <div class="form-group col-md-8">
            <div class="form-group">
                <fieldset>
                    <legend>Have you been diagnosed with Parkinson's Disease (including PSP, CBD, MSA and post DBS)?</legend>
                    
                    <label for="parkinsonIndYes"><input  id="parkinsonIndYes" asp-for="Input.parkinsonsInd" type="radio" value="Yes" /> Yes</label>
                    
                    <label for="parkinsonIndNo"><input  id="parkinsonIndNo" asp-for="Input.parkinsonsInd" type="radio" value="No" /> No</label>
                </fieldset>
                <br /><span asp-validation-for="Input.parkinsonsInd" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <span style="color:red">*</span>
        <div class="form-group col-md-8">
            <div class="form-group">
                <fieldset>
                    <legend>Are you 18 years of age or older?</legend>
                    
                    <label for="eighteenOrOlderYes"><input  id="eighteenOrOlderYes" asp-for="Input.eighteenOrOlderInd" type="radio" value="Yes" /> Yes</label>
                    
                    <label for="eighteenOrOlderNo"><input  id="eighteenOrOlderNo" asp-for="Input.eighteenOrOlderInd" type="radio" value="No" /> No</label>
                </fieldset>
                <br /><span asp-validation-for="Input.eighteenOrOlderInd" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <span style="color:red">*</span>
        <div class="form-group col-md-6">
            <div class="form-group">
                <label for="Input_state">What state do you live in?<br /> (We are currently recruiting U.S. residents only.)</label>
                <select  asp-for="Input.state" asp-items="@Model.stateList" data-dropup-auto="false">
                    <option value="" selected>Please Select</option>
                </select>
                <br /><span asp-validation-for="Input.state" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label asp-for="Input.firstName"><span style="color:red">*</span>First Name</label>
            <input  asp-for="Input.firstName" class="form-control" />
            <span asp-validation-for="Input.firstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Input.middleName">Middle Name</label>
            <input  asp-for="Input.middleName" class="form-control" />
            <span asp-validation-for="Input.middleName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Input.lastName"><span style="color:red">*</span>Last Name</label>
            <input  asp-for="Input.lastName" class="form-control" />
            <span asp-validation-for="Input.lastName" class="text-danger"></span>
        </div>
            </div>
        <div class="form-row">
            <div class="form-group col-sm-4">
            <label asp-for="Input.phoneNumber"><span style="color:red">*</span>Phone Number</label>
            <input  asp-for="Input.phoneNumber" pattern="[0-9]+" placeholder="0123456789" class="form-control" />
            <span asp-validation-for="Input.phoneNumber" class="text-danger"></span>
        </div>
        </div>
    <div class="form-row">
        <div class="form-group col-sm-4">

            <label asp-for="Input.Email"><span style="color:red">*</span>Email</label>
            <input id="contributorEmail" asp-for="Input.Email" class="form-control" onkeyup="compareEmails()" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-4">

            <label asp-for="Input.ConfirmEmail"><span style="color:red">*</span>Confirm Email</label>
            <input id="compareEmail" asp-for="Input.ConfirmEmail" class="form-control" onkeyup="compareEmails()" />
            <span id="confirmEmailValidation" asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
    </div>

    </div>
    <div class="form-row">
              <div class="form-group col-sm-4">
            <br/>
            <details open>
                <summary>Password Requirements</summary>
                <ul>
                    <li>Passwords must have at least one non alphanumeric character.</li>
                    <li>Passwords must have at least one digit ('0'-'9').</li>
                    <li>Passwords must have at least one uppercase ('A'-'Z').</li>
                    <li>The Password must be at least 9 and at max 100 characters long.</li>
                </ul>
            </details></div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-4">
            <label asp-for="Input.Password"><span style="color:red">*</span>Password</label>
            <input  asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-4">           
            <label asp-for="Input.ConfirmPassword"><span style="color:red">*</span>Confirm Password</label>
            <input  asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <fieldset>               
                <legend><span style="color:red">*</span>Will someone be helping you with this process? (caregiver, family, or friend)</legend>
                
                <label for="helperYes"><input  id="helperYes" asp-for="Input.HelperInd" type="radio" value="Yes" onclick="checkHelperInd()" /> Yes</label>
                
                <label for="helperNo"><input  id="helperNo" asp-for="Input.HelperInd" type="radio" value="No" onclick="checkHelperInd()" /> No</label>
            </fieldset>
            <br /> <span asp-validation-for="Input.HelperInd" class="text-danger"></span>
        </div>
    </div>

    @*The HelperEmail will be hidden when the page first loads.
        If a validation error occurs on submit, we want to make sure
        the HelperEmail displays if the HelperInd is true when the page refreshes*@
    @if (Model != null && Model.Input != null && "Yes".Equals(Model.Input.HelperInd))
    {
        <div class="form-row" id="helperDiv">
            <div class="form-group col-md-3">
                <label for="helperEmail"><span style="color:red">*</span>Helper's Email</label>
                <input  id="helperEmail" asp-for="Input.HelperEmail" class="form-control" />
                <span class="text-danger">@Html.ValidationMessage("helperEmailValidation")</span>
            </div>
            <div class="form-group col-md-3">
                <label for="helperFirstName"><span style="color:red">*</span>Helper's First Name</label>
                <input  id="helperFirstName" asp-for="Input.HelperFirstName" class="form-control" />
                <span class="text-danger">@Html.ValidationMessage("helperFirstNameValidation")</span>
            </div>
            <div class="form-group col-md-3">
                <label for="helperLastName"><span style="color:red">*</span>Helper's Last Name</label>
                <input  id="helperLastName" asp-for="Input.HelperLastName" class="form-control" />
                <span class="text-danger">@Html.ValidationMessage("helperLastNameValidation")</span>
            </div>
        </div>
    }
    else
    {
        @*hide email when the HelperInd is set to No*@

        <div class="form-row" id="helperDiv" style="display:none">
            <div class="form-group col-md-3">
                <label for="helperEmail"><span style="color:red">*</span>Helper's Email</label>
                <input  id="helperEmail" asp-for="Input.HelperEmail" class="form-control" />
                <span class="text-danger">@Html.ValidationMessage("helperEmailValidation")</span>
            </div>
            <div class="form-group col-md-3">               
                <label for="helperFirstName"><span style="color:red">*</span>Helper's First Name</label>
                <input  id="helperFirstName" asp-for="Input.HelperFirstName" class="form-control" />
                <span class="text-danger">@Html.ValidationMessage("helperFirstNameValidation")</span>
            </div>
            <div class="form-group col-md-3">
                <label for="helperLastName"><span style="color:red">*</span>Helper's Last Name</label>
                <input  id="helperLastName" asp-for="Input.HelperLastName" class="form-control" />
                <span class="text-danger">@Html.ValidationMessage("helperLastNameValidation")</span>
            </div>
        </div>

        <div class="form-row" hidden>
            <div class="form-group col-md-6">
                <fieldset>
                     <legend><span style="color:red">* </span>Do you wish us to contact you, or do you want to record some sentences, so we can evaluate your speech online?</legend>
                <input id="contactLSVTTrue" asp-for="Input.ContactLSVT" type="radio" value=true />
                    <label style="display:inline" for="contactLSVTTrue">I would prefer to have a mentor from LSVT contact me, so I can talk to a human being about the consent process. <strong>(Recommended)</strong></label>
                    <br /><br/>
                    <input id="contactLSVTFalse" asp-for="Input.ContactLSVT" type="radio" value=false />
                    <label style="display:inline" for="contactLSVTFalse">I would prefer to record a few sentences now, and then wait for your team to evaluate them before I proceed with the study on my own.</label>
                </fieldset>              
                <br /> <span asp-validation-for="Input.ContactLSVT" class="text-danger"></span>
            </div>
        </div>

    }

    <button class="btn btn-primary" id="registerSubmit">Submit</button>

</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $("#registerForm").submit(function(){
            
            //disable the submit button
            $("#registerSubmit").attr("disabled", true);
            return true;
    });
    });

    function enableSubmit()
    {
            $("#registerSubmit").attr("disabled", false);
    }

    const form = document.querySelector('form');
    form.addEventListener('change', function () {
        enableSubmit();
    });
    form.addEventListener('keyup', function () {
        enableSubmit();
    });

</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
