@page "SpanishConsent"
@model SpanishConsentModel
@{
     ViewData["Title"] = "Consent";
}

@*If any changes are made to this page,
make sure to increment the ConsentVersion in appsettings*@


<h1 hidden>@ViewData["Title"]</h1>

@if (@Model.ModelState.IsValid == false)
{
            <div class="text-danger">
            <h2>Validation Errors: </h2>
            <span>You must check all of the required checkboxes to proceed.</span>

        </div>
}

    <div class="text-center">
        <br />
    <h2>
        Universidad de Illinois Urbana-Champaign Formulario de  consentimiento
        en línea
    </h2>
    <strong>
        Proyecto de accesibilidad del habla: personas  con discapacidad que
        ayudan  a los investigadores a mejorar la tecnología
    </strong>
    </div>
    <br/>
    <div class="container" id="container" style="font-size:x-large">        
        <p>
            Se le pide que participe de manera voluntaria en un estudio  de
            investigación llamado "Proyecto de accesibilidad del habla". El
            objetivo de este estudio es ayudar a los investigadores de universidades
            y  empresas a desarrollar interfaces de usuario en lenguaje hablado para
            que  funcionen de manera correcta para personas con habla atípica. Los
            programas  informáticos (de computadoras) que comprenden el habla se
            desarrollan mediante  aprendizaje automático (del inglés machine
            learning). El aprendizaje automático es un método  de desarrollo de
            software que imita la forma en que aprenden  los humanos, probando el
            software repetidamente y cambiando su  comportamiento cada vez que
            comete un error. De este modo, el software aprende  a reducir el riesgo
            de cometer errores similares en el futuro. Al proporcionar  ejemplos de
            sonidos de habla atípica, este estudio hará posible que el software
            aprenda a cometer menos errores cuando se encuentre con habla atípica en
            el  futuro. La participación en este estudio es totalmente en línea (del
            inglés  online) y consistirá en grabar frases y subir sus grabaciones de
            audio a un  sistema de almacenamiento cifrado seguro. Le pedimos que
            proporcione hasta 600  muestras de habla o unas 5 horas de su tiempo, y
            lo puede hacer en cualquier  momento en línea, a su propio ritmo y
            conveniencia. Los riesgos asociados a  este estudio no son mayores que
            los de la vida cotidiana. No hay expectativa de  beneficio para usted de
            esta investigación; el beneficio esperado para la  sociedad es que las
            empresas y organizaciones que utilicen sus grabaciones del  habla podrán
            entrenar una mejor tecnología del habla para las personas con
            discapacidades motoras y del habla, lo que hará que la tecnología sea
            más  accesible para todos.
        </p>
        <p>
            <strong>Nombre del proyecto:</strong>Proyecto de accesibilidad del
            habla, que tiene el sitio web:
            <a href="https://speechaccessibilityproject.beckman.illinois.edu/">
                https://speechaccessibilityproject.beckman.illinois.edu/
            </a>
        </p>
        <p>
            <strong>Nombre y cargo del  investigador principal</strong>: El Profesor
            Mark Hasegawa-Johnson, de la Universidad de Illinois Urbana-  Champaign
            ("UIUC"), Instituto Beckman y facultad  de Ingeniería Eléctrica  e
            Informática. <strong>Datos de contacto</strong>:La dirección de  correo
            electrónico del equipo es:
            <a href="mailto:speechaccessibility@beckman.illinois.edu">
                speechaccessibility@beckman.illinois.edu.
            </a>
        </p>
        <p>
            <strong>Organizaciones que realizarán este estudio</strong>: La
            Universidad de Illinois Urbana-Champaign (UIUC) es la  organización
            principal que llevará a cabo este estudio y se ha asociado con la
            Fundación Davis Phinney y LSVT  Global, dos organizaciones que abogan
            por las personas con Parkinson.
        </p>
        <p>
            <strong>Patrocinador</strong>: El Proyecto de accesibilidad del habla
            está financiado por un consorcio que actualmente  incluye a cinco
            empresas: Amazon,  Apple, Google, Microsoft  y Meta (empresa matriz de
            Facebook). En el futuro, otras empresas,  universidades y organizaciones
            podrían unirse también a este consorcio.
        </p>
        <strong>
            ¿Por qué se me pidió participar?
        </strong>
        <p>
            Se  le pide que participe en este estudio porque es un adulto que forma
            parte de  una comunidad de personas que pueden tener un habla atípica,
            y ha cumplido los requisitos para participar en el estudio  al responder
            satisfactoriamente a nuestras preguntas de preselección y  proporcionar
            un conjunto de muestras de habla.
        </p>
        <p>
            Tenemos  previsto reclutar a más de 1.000 personas para participar en
            este estudio. Dado  que el objetivo de este estudio  es ayudar a estas
            empresas  a desarrollar mejores  interfaces de habla para las
            tecnologías,  nuestro equipo necesita reunir muchos tipos diferentes de
            muestras de habla de  muchos tipos de voces.
        </p>
        <p>
            Su participación en esta investigación es voluntaria. Su decisión de
            participar no afectará a sus relaciones
            actuales o futuras con la Universidad de Illinois Urbana-Champaign,  sus
            socios o los  patrocinadores de este proyecto. Si decide participar, es
            libre de retirarse en cualquier momento  sin que ello afecte a esa
            relación.
        </p>
        <strong>
            ¿Qué procedimientos hay que seguir?
        </strong>
        <p>
            <strong></strong>
        </p>
        <p>
            Le proporcionaremos  acceso a un sitio web en el que podrá grabar hasta
            600 muestras de voz, bien  sea leyendo el texto en voz alta o
            respondiendo a una pregunta. Puedehacer  estas grabaciones en cualquier
            momento del día a través de la semana y al ritmo  que desee. Le animamos
            a que grabe a distintas horas del día para que podamos  saber cómo
            cambia su habla a lo largo del día. Y no se preocups por darnos muestras
            "malas": todos los datos son realmente útiles.  Cuanto más diverso  sea
            nuestro conjunto de muestras de habla, ¡mejor!
        </p>
        <p>
            Tiene la opción de trabajar con nuestra organización asociada, LSVT
            Global,  para obtener ayuda.  LSVT Global puede proporcionarle un mentor
            que le ayude a hacer sus  grabaciones, le aconseje sobre la
            configuración de su micrófono y le dé  consejos sobre cuándo y dónde
            hacer sus grabaciones.
        </p>
        <p>
            Puede tardar hasta tres meses en terminar de grabar las 600 muestras  de
            voz. Si va a necesitar más de  tres meses, póngase en contacto con el
            equipo de investigación de la UIUC a  través de
            <a href="mailto:speechaccessibility@beckman.illinois.edu">
                speechaccessibility@beckman.illinois.edu.
            </a>
        </p>
        <p>
            Le preguntaremos si  considera que el inglés de EE. UU. es su primer
            idioma. Las personas que hablan  inglés como segundo idioma a veces son
            mejor reconocidas por los dispositivos que también conocen varios
            idiomas. Si proporciona  esta información, se compartirá con los
            investigadores que utilicen las muestras.
        </p>
        <p>
            También le  pediremos que proporcione datos opcionales sobre usted, como
            su edad, identidad  racial y étnica, y preguntas sobre  cómo puede haber
            influido su capacidad de habla en su vida cotidiana. No está obligado a
            responder a ninguna de  estas preguntas. Esta información solo se
            utilizará para confirmar la  representación diversa en esta recopilación
            de datos y, si se facilita, no se  compartirá fuera del equipo de
            investigación de la UIUC.
        </p>
        <p>
            El equipo de  investigación de la UIUC revisará todas sus muestras de
            habla y las editaremos  para proteger tu privacidad eliminando cualquier
            referencia a información  personal identificable sobre usted o sobre
            otras personas que pueda haber  mencionado en sus respuestas a nuestras
            preguntas. También anotaremos sus muestras con "etiquetas" que se
            refieren  a aspectos técnicos de las señales  acústicas de sus muestras.
            No adjuntaremos su nombre ni su dirección de correo  electrónico a estas
            muestras; en su lugar, le asignaremos un código único de identificación
            de participante y anotaremos  sus muestras con ese código. Solo el
            equipo de investigación de la UIUC  conocerá la "clave de identidad" que
            relaciona su dirección de correo  electrónico con su código de
            identificación de participante.
        </p>
        <p>
            El equipo de  investigación del Proyecto de accesibilidad del habla de
            la UIUC ha establecido  un sistema de almacenamiento seguro y totalmente
            cifrado  o encriptado en el Instituto Beckman de la UIUC  para guardar
            sus muestras. Almacenaremos por separado su información identificable en
            una base de datos  segura e independiente. También hemos establecido un
            mecanismo seguro de  intercambio de datos con los socios de nuestro
            consorcio. En este momento,  nuestros socios son las cinco empresas
            patrocinadoras de este proyecto: Amazon,  Apple, Google, Meta y
            Microsoft. Los
            investigadores de  la UIUC y los de cada uno de las empresas utilizarán
            las muestras de voz  recogidas para capacitar a los algoritmos de
            aprendizaje automático para que funcionen mejor en las tareas  de
            reconocimiento de voz. Estos colaboradores de investigación solo tendrán
            acceso a sus muestras de habla y a ningún otro dato sobre usted.
        </p>
        <p>
            Las cinco  empresas patrocinadoras de esta investigación en la UIUC han
            firmado  un acuerdo legal  con la universidad que  establece los fines
            permitidos de las muestras de voz recogidas en este  proyecto de
            investigación. Estos fines permitidos son solo para la  investigación y
            el desarrollo tecnológico, como se indica aquí:
        </p>
    <p>
        ·  Sus muestras se conservarán para siempre, para ayudar a la
        investigación y al desarrollo tecnológico en perpetuidad.
    </p>


        <p>
            ·        Sus muestras no se identificarán con su nombre  o dirección de
            correo electrónico, sino solo con un código único de participante que
            solo conoce el equipo de investigación de la UIUC.
        </p>
        <p>
            ·        Sus muestras serán analizadas por  el equipo de investigación
            de la UIUC para verificar que el estudio se realiza correctamente y para
            asesorar  a otros investigadores sobre cómo diseñar o mejorar futuros
            estudios.
        </p>
        <p>
            ·        Sus muestras se analizarán y combinarán con las muestras  de
            otras personas  para crear resultados  agregados que se publicarán en la
            literatura de investigación.
        </p>
        <p>
            ·        Sus muestras se utilizarán para  mejorar la comprensión de las
            variaciones de los datos relacionadas con el  aprendizaje automático que
            están asociadas a las variaciones atípicas del  habla. Eventualmente
            conducirá al  desarrollo de productos, tecnologías y servicios por o en
            nombre de nuestros patrocinadores para mejorar las comunicaciones y
            aumentar el acceso a la  tecnología, incluyendo la creación y
            capacitación de soluciones de aprendizaje  automático y modelos de
            inteligencia artificial tanto para fines de investigación  como
            comerciales.
        </p>
        <p>
            En el futuro, cualquier organización asociada adicional de este
            consorcio  firmará acuerdos de uso de datos  con los mismos términos y
            condiciones. Para tales usos futuros de sus datos, no  pediremos su
            consentimiento nuevamente. En otras palabras, el uso futuro de sus
            datos des-identificados podría producirse sin consentimiento informado
            adicional.
        </p>
        <p>
            En resumen, sus  muestras de habla ayudarán a los investigadores de la
            UIUC y de sus  organizaciones asociadas a desarrollar mejores algoritmos
            de tecnología de  reconocimiento del habla y, con el tiempo, podrán
            ayudar a que los productos comerciales funcionen con mayor eficacia
            para las personas  con habla atípica.
        </p>
        <strong>
            ¿Cuáles son los posibles riesgos  y molestias?
        </strong>
        <p>
            En general,  creemos que los riesgos de su participación en este estudio
            de investigación no son mayores  de los que encontraría en la vida
            cotidiana. Sin embargo, reconocemos  dos asuntos que pueden suponer
            riesgos en este estudio, y también hemos  diseñado medidas para
            minimizarlos.
        </p>
        <p>
            En  primer lugar, podría cansarse. Para minimizar su cansancio, hemos
            dispuesto que  pueda grabar sus muestras de habla  en varias sesiones.
            Puede conectarse al sistema a la hora y en el lugar que le convenga  y
            grabar a su propio ritmo. También puede  cerrar la sesión  en cualquier
            momento  y volver a conectarse para seguir grabando como desee.
            Esperamos que esta flexibilidad y conveniencia reduzcan al mínimo la
            fatiga que  pueda experimentar.
        </p>
        <p>
            En segundo  lugar, como ocurre  en casi todos los estudios  de
            investigación de recopilación de datos en línea,
            muestras  de habla. El equipo de UIUC editará la información de
            identificación de sus  muestras de habla (como su nombre) y solo
            almacenará sus archivos de audio con  un número de código de
            participante. Este número de código de participante se almacenará con su
            información de identificación en un servidor  seguro en el Instituto
            UIUC Beckman, y esta "clave de identidad" es solo accesible por el
            equipo de investigación de UIUC. Esta  información es necesaria para
            poder pagarle por su participación en este  proyecto.
        </p>
        <p>
            Como se describió anteriormente, el equipo de UIUC también escuchará
            todas sus muestras  de habla y las  editará para eliminar cualquier
            información de identificación personal.
        </p>
        <p>
            Los  miembros de facultad, personal, estudiantes y otras personas con
            permiso o  autoridad para ver su información de este estudio (como
            auditores universitarios) mantendrán su confidencialidad en la medida
            permitida y requerida por las leyes  y políticas universitarias.
        </p>
        <p>
            Las  grabaciones de habla se distribuirán únicamente a empresas y
            organizaciones que  hayan firmado un acuerdo de uso de datos aceptando
            los términos de confidencialidad especificados anteriormente. Ninguna
            otra información de identificación personal será publicada o presentada.
        </p>
        <p>
            Debido a que se trata de un proyecto  de investigación, esperamos
            publicar artículos de investigación como resultado de este estudio.
            Estos  artículos pueden ser de dominio público. Las publicaciones sobre
            esta  investigación nunca incluirán su nombre ni ninguna información que
            le  identifique. De manera opcional, puede decidir conceder permiso para
            que la  universidad comparta muestras anónimas de
        </p>
        <p>
            su voz como parte de las publicaciones o presentaciones de
            investigación, pero esto no es obligatorio.
        </p>
        <strong>
            ¿Seré reembolsado por gastos  que incurra o pagado por mi participación
            en esta investigación?
        </strong>
        <p>
            Usted  será compensado hasta $180 como sigue: $60 luego de concluir la
            grabación de la  muestra número 200, $60 adicionales luego de la
            grabación de la muestra  número 400, y $60 adicionales luego la
            grabación de la muestra número 600.
        </p>
        <p>
            Además  de su propio pago, si necesita la ayuda de un cuidador para
            utilizar un  navegador web, comuníquese con el equipo de investigación
            de la UIUC a través  de
            <a href="mailto:speechaccessibilityproject@beckman.illinois.edu">
                speechaccessibilityproject@beckman.illinois.edu
            </a>
            para validar que su cuidador también  pueda recibir una compensación por
            ayudarle. Los  cuidadores aprobados recibirán una compensación de hasta
            $90, de la siguiente manera  $30 tras usted grabar la frase número  200,
            otros $30 tras usted  grabar la frase  número 400 y otros $30 tras usted
            grabar la frase número 600.
        </p>
        <p>
            Los pagos se realizarán por correo electrónico utilizando
            <em>
                ecodes
            </em>
            de Amazon.
        </p>
        <strong>
            ¿Puedo retirarme o pueden terminar mi participación en el estudio?
        </strong>
        <p>
            Sí. Usted es libre  de retirar su consentimiento e interrumpir su
            participación en cualquier  momento notificándolo al equipo  de
            investigación de la UIUC por correo  electrónico o por teléfono. El
            equipo de investigación de la UIUC también tiene  derecho a interrumpir
            su participación en este estudio sin su
            existe  el riesgo que sus muestras de habla se divulguen con otros fines
            y a personas,  empresas y organizaciones más allá de los que ha dado su
            consentimiento. Debe saber que el equipo  de la UIUC ha diseñado medidas
            para minimizar la posibilidad de divulgación no autorizada de datos,
            entre  las que se incluyen las siguientes:
        </p>
        <p>
            ·        Los números de código  de los participantes se utilizarán para
            hacer anotaciones en todas las grabaciones de habla; su nombre y
            dirección de correo electrónico no se adjuntarán directamente a ninguna
            muestra  de habla.
        </p>
        <p>
            ·       Todas las organizaciones que utilicen sus grabaciones de habla
            deberán  firmar un acuerdo  de uso de estos datos, en el que se
            comprometen a almacenar los datos  de forma segura, a impedir el acceso
            no autorizado y a no intentar  identificarle ni obtener ninguna otra
            información que le identifique.
        </p>
        <p>
            ·       Los investigadores ajenos a la UIUC no conocerán su nombre,
            dirección  de correo electrónico, estado de residencia ni ninguna otra
            información que le  identifique. La información de identificación  se
            almacenará separada  de sus grabaciones del habla,  en una base de datos
            accesible  solo a los miembros del equipo de investigación de la UIUC.
            Además, como  indicamos anteriormente, el equipo de la UIUC editará y
            anotará sus muestras de  habla para proteger su privacidad.
        </p>
        <p>
            ·       Puede retirarstu consentimiento voluntario en cualquier momento
            y  solicitar que se destruyan todos sus datos. Cuando notifique al
            equipo de la  UIUC que desea que se destruyan todas sus muestras de
            habla, la UIUC se  asegurará de que sus grabaciones de voz se eliminen
            del sistema seguro de la UIUC y les dará instrucciones a nuestros
            colaboradores que usted desea  que sus datos sean borrados de todas las
            copias que posean también
        </p>
        <strong>
            ¿Hay beneficios por participar en esta investigación?
        </strong>
        <p>
            <strong></strong>
        </p>
        <p>
            No existe  un beneficio inmediato  para usted por participar en esta
            investigación.
        </p>
        <p>
            La  información que obtendremos de usted en esta investigación puede
            ayudar en el  desarrollo de investigación científica, productos  de
            código abierto,  y productos comerciales por parte de UIUC, sus socios
            de investigación o miembros del consorcio. No existen planes de
            proveerle  compensación financiera adicional de esto ocurrir.
        </p>
        <p>
            El beneficio esperado para la sociedad es que las empresas y
            organizaciones podrán  desarrollar mejores
        </p>
        <p>
            interfaces que requieren el uso del lenguaje hablado  para que las
            personas con un habla atípica puedan  ser entendidas tan fácilmente como
            otras personas con habla típica.
        </p>
        <strong>
            ¿Qué  otras opciones existen?
        </strong>
        <p>
            Usted tiene la opción  de no participar en este estudio. Este estudio es
            completamente voluntario.
        </p>
        <strong>
            ¿Se mantendrá confidencial mi información relacionada con el estudio?
        </strong>
        <p>
            <strong></strong>
        </p>
        <p>
            El equipo de investigación de UIUC ha hecho todo lo posible  para
            proteger las audiograbaciones de sus
        consentimiento  si considera que es lo mejor para usted. Si retirs su
        consentimiento, el equipo  de investigación de la UIUC eliminará sus
        grabaciones de  habla de la base de datos de  la UIUC y notificará a los
        patrocinadores y socios  que también deben eliminar sus datos de sus propias
        bases de datos utilizando solo su  número de código  de participante
        anónimo.  Si retira su consentimiento, sus datos no serán utilizados en
        futuras investigaciones.  Si los datos que proporcionó anteriormente se han
        utilizado para informar o  crear códigos informáticos o algoritmos de
        aprendizaje automático, puede que no  sea posible eliminar sus datos de
        ellos.
    </p>
    <strong>
        ¿Utilizarán misdatos  para otras investigaciones?
    </strong>
    <p>
        Como se ha indicado  anteriormente, la UIUC y sus socios en el consorcio del
        Proyecto de accesibilidad del habla utilizarán sus muestras de habla para
        avanzar la comprensión de las variaciones de los datos  relacionados con el
        aprendizaje automático y asociados a  variaciones atípicas del habla.
        Ademásserán utilizados para desarrollar  productos, tecnologías y servicios
        que mejoren las comunicaciones y aumenten el  acceso a la tecnología,
        incluido el uso computacional, y la creación y  capacitación de soluciones
        de aprendizaje automático y modelos de inteligencia  artificial, tanto con
        fines de investigación como comerciales.
    </p>
    <p>
        Es posible que en  el futuro se conceda acceso a los datos a otras
        organizaciones, además de los  socios fundadores del consorcio  que son
        Amazon, Apple, Google,  Meta y Microsoft. Estas otras organizaciones pueden
        ser otras universidades u otras  empresas. Todas las organizaciones que
        deseen acceder a los datos deberán  firmar acuerdos de uso de datos  que
        especifiquen los mismos términos  que los anteriores: que sus muestras de
        habla solo se utilizarán para investigación y desarrollo  tecnológico, que
        sus datos se almacenarán de forma segura y que podrá retirar  su
        consentimiento en cualquier momento. No se le pedirá que deconsentimiento
        adicional para estos usos futuros de sus datos.
    </p>
    <strong>
        ¿Con quién debo ponerme en contacto si tengo preguntas?
    </strong>
    <p>
        Puede comunicarse  con el jefe del equipo de investigación de la UIUC, el
        profesor Mark  Hasegawa-Johnson (<a href="mailto:jhasegaw@illinois.edu">jhasegaw@illinois.edu</a>),
        si tiene alguna  pregunta sobre este estudio o sobre su participación en él,
        o si tiene alguna inquietud o queja sobre la  investigación.
    </p>
    <strong>
        ¿Cuáles son mis derechos  como sujeto de investigación?
    </strong>
    <p>
        Si tiene  alguna pregunta sobre  sus derechos como sujeto de investigación,
        que incluyan inquietudes, quejas o para  ofrecer su opinión, puede llamar a
        la Oficina para la Protección de Sujetos de  Investigación (OPRS) de la UIUC
        al 217-333-2670 o enviar un correo electrónico  a la OPRS a
        <a href="mailto:irb@illinois.edu">
            irb@illinois.edu.
        </a>
        Si quiere completar una breve encuesta para dar su opinión a la OPRS sobre
        sus  experiencias como participante en una investigación, siga el enlace que
        aparece  aquí o a través de un enlace en el sitio web de la OPRS:
        <a href="https://oprs.research.illinois.edu/">
            https://oprs.research.illinois.edu/.
        </a>
        Tendrá la opción de dar su opinión o compartir sus inquietudes de forma
        anónima, o pueds proveer su nombre e información de contacto para recibir
        seguimiento.
    </p>
    <p>
        <strong>
            Lee atentamente cada punto y marque  cada casilla para indicar que está de
            acuerdo.
        </strong>
    </p>

    <br/>
       
    <form method="post" id="consentForm">      
       
        <p><input  type="checkbox" id="readAndUnderstandConsent" asp-for="readAndUnderstandConsent" value=true>
            <label style="display:inline" for="readAndUnderstandConsent"> He leído y comprendo el formulario de consentimiento anterior.</label><br /><span class="text-danger">@Html.ValidationMessage("readAndUnderstandValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p><input  type="checkbox" id="legalAgreementConsent" asp-for="legalAgreementConsent">
            <label style="display:inline" for="legalAgreementConsent"> Entiendo que mis muestras de habla se recogen con el fin de mejorar la tecnología de reconocimiento del habla y están protegidas por un acuerdo legal entre la UIUC y los miembros actuales de la coalición del Proyecto de accesibilidad del habla, y que los futuros miembros de la coalición de datos y cualquier futuro licenciatario de datos también estarán sujetos a acuerdos legales similares.</label><br /><span class="text-danger">@Html.ValidationMessage("legalAgreementValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="eighteenConsent" asp-for="eighteenConsent">
            <label style="display:inline" for="eighteenConsent"> Certifico que tengo 18 años o más.</label><br /><span class="text-danger">@Html.ValidationMessage("eighteenValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="validEmailConsent" asp-for="validEmailConsent">
            <label style="display:inline" for="validEmailConsent"> Entiendo que debo mantener una dirección de correo electrónico válida para participar en este estudio y para que se me pague por mi participación.</label><br /><span class="text-danger">@Html.ValidationMessage("emailValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="loginConsent" asp-for="loginConsent">
            <label style="display:inline" for="loginConsent">Certifico que yo y solo yo utilizaré mi nombre de usuario para grabar muestras de habla. No permitiré que otras personas graben muestras de habla en mi nombre.</label><br /><span class="text-danger">@Html.ValidationMessage("loginValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="financialCompensationConsent" asp-for="financialCompensationConsent">
            <label style="display:inline" for="financialCompensationConsent">Entiendo que la única compensación económica que recibiré por participar en este estudio es el pago por contribuir con muestras de habla, que será de $60 por cada lote de 200 muestras que proporcione.</label><br /><span class="text-danger">@Html.ValidationMessage("financialCompensationValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="maxPaymentConsent" asp-for="maxPaymentConsent">
            <label style="display:inline" for="maxPaymentConsent"> Entiendo que mi objetivo es proporcionar 600 muestras en total, y que por lo tanto mi pago máximo será de $180 .</label><br /><span class="text-danger">@Html.ValidationMessage("maxPaymentValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p>
            <input  type="checkbox" id="caregiverConsent" asp-for="caregiverConsent">
            <label style="display:inline" for="caregiverConsent">Entiendo que si necesito la ayuda de un cuidador para contribuir mis muestras de habla, debo notificarlo al equipo de la UIUC para que aprueben el que se pague a mi cuidador además de a mí mismo.</label><br /><span class="text-danger">@Html.ValidationMessage("caregiverValidation")</span>
        </p>
    <p>&nbsp;</p>
    <p><input  type="checkbox" id="withdrawalConsent" asp-for="withdrawalConsent">
            <label style="display:inline" for="withdrawalConsent">Entiendo que en cualquier momento puedo terminar mi participación y retirar mi consentimiento. Cuando lo haga, el equipo de investigación de la UIUC eliminará todas mis muestras de habla del sistema seguro de la UIUC. También entiendo que es responsabilidad de la UIUC pedir a todos los patrocinadores y socios que eliminen cualquier copia de mis muestras de habla de sus propias bases de datos.</label><br /><span class="text-danger">@Html.ValidationMessage("withdrawalValidation")</span>
        </p>
    <p>&nbsp;</p>
        <p><strong>Casilla opcional:</strong> Al marcar la siguiente casilla, también pueds dar específicamente su consentimiento para que el equipo de investigación reproduzca o proporcione archivos de audio de su voz en un entorno público de investigación o publicación.</p>
        <p>
            <input  type="checkbox" id="shareSamplesConsent" asp-for="shareSamplesConsent">
            <label style="display:inline" for="shareSamplesConsent">Doy mi consentimiento para que se compartan muestras de mi voz en público en conferencias de investigación y reuniones profesionales similares, y para que se compartan archivos de audio digitales de mi voz como parte de publicaciones de investigación profesional.</label>
        </p>
    <p>&nbsp;</p>
        <p><strong>Casilla opcional:</strong> Al marcar la casilla de abajo, también puede dar específicamentesu consentimiento para compartir su información de contacto con otros equipos de investigación, de modo que puedan ponerse en contacto con usted para ser un participante potencial en sus propios estudios de investigación.</p>
        <p><input  type="checkbox" id="shareContactInfoConsent" asp-for="shareContactInfoConsent">
            <label style="display:inline" for="shareContactInfoConsent">Doy mi consentimiento para que mi dirección de correo electrónico y mi número de teléfono sean compartidos con otros equipos de investigación que podrán ponerse en contacto conmigo para participar en sus estudios.</label>
        </p>
    <p>&nbsp;</p>
        <p>Al hacer clic en el botón "ACEPTO" que aparece a continuación, indico mi deseo de participar voluntariamente en este estudio.</p>
    <p>&nbsp;</p>
    <button class="btn btn-primary" id="consentButton">ACEPTO</button>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#consentForm").submit(function () {

            //disable the submit button
            $("#consentButton").attr("disabled", true);
            return true;
        });
    });

    function enableSubmit() {
        $("#consentButton").attr("disabled", false);
    }

    const form = document.querySelector('form');
    form.addEventListener('change', function () {
        enableSubmit();
    });

</script>