@using System.Security.Claims
@{
    ViewData["Title"] = "Waiting For Approval Speech Files";
}

@{
    ViewBag.Title = "Waiting For Approval Speech Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<h1>Contributors Waiting For Approval</h1>
<div id="top"></div>
@{
    var userRole = @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}
<input type="hidden" id="UserRole" value="@userRole" />

<label id="lblMessage" name="lblMessage" class="errorMessage"></label>
<div style="width: 1000px">
    <table class="table table-striped table-bordered table-hover" id="WaitingForApprovalContributorTable" cellspacing="0" align="center"></table>
</div>
<div id="rating-dialog" style="display: none"></div>
<div id="approve-dialog" style="display: none">
   
        <input type="hidden" id="hidApproveContributorId" />
       <label id="lblApproveMessage">Approve below Contributor?</label>
        <br /><b>First Name:</b><label id="lblApproveFirstName" name="lblApproveFirstName"></label>
        <br /><b>Last Name:</b><label id="lblApproveLastName" name="lblApproveLastName"></label>
        <br/><tabe>
            <tr>
                <td>Need to change password?</td>
                <td>
                    <input type="radio" name="ChangePassword" id="radChangePasswordNo" value="No" checked>
                <label for="radChangePasswordNo">No</label>
                    <input type="radio" name="ChangePassword" id="radChangePasswordYes" value="Yes">
                <label for="radChangePasswordYes">Yes</label>
                </td>
            </tr>
        </tabe>
       
</div>

<div id="deny-dialog" style="display: none">
    <label id="lblDenyMessage">Deny below Contributor:</label><br />
    <input type="hidden" id="hidDenyContributorId" />
    <br /><b>First Name:</b><label id="lblDenyFirstName" name="lblDenyFirstName"></label>
    <br /><b>Last Name:</b><label id="lblDenyLastName" name="lblDenyLastName"></label>
    <br /><textarea id="txtDenyComment" name="txtDenyComment" rows="4" cols="50"></textarea>

</div>


<div id="rate-dialog" style="display: none"></div>
<div class="spinner" style="display:none">
    <div class="center-div">
        <div class="inner-div">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div id="listen-dialog" style="display: none">
    <p>
       @* <b>ContributorID:</b><label id="lblListenContributorId" name="lblListenContributorId"></label>
        <br/>
        <b>Transcript:</b><label id="lblListenTranscript" name="lblListenTranscript"></label>
        <br/>
        <input type="hidden" id="hidFileName" />
         <audio id="listenRecording" controls preload="none">
            <source src="" />
        </audio>*@
        
       

    </p>
</div>

@section scripts {

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/js/listenrecording.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //bind datatable for Prompts
            var oContributorsTable = $("#WaitingForApprovalContributorTable").on('error.dt',
                function (e, settings, techNote, message) {
                    alert('Error loading the data. It could be the timeout issue. Please try to reload your browser. ', message);
                }).DataTable({
                    "serverSide": true,
                    "processing": true,
                    "responsive": true,
                    "iDisplayLength": 100,
                    "dom": "<'row'<'col-sm-4'l><'col-sm-4'i><'col-sm-4'f>>" +
                        "<'row'<'col-sm-12'tr>>p", //'<"top"l>rift<"bottom"p><"clear">',
                    "ajax": ({
                        "url": '@Url.Action("LoadContributorsForApproval", "Contributor")',
                        "type": "POST",
                        "datatype": "json"
                    }),
                    "bAutoWidth": false,
                    "aaSorting": [[1, 'asc']],
                    "columns": [
                        {
                            "className": 'details-control',
                            "orderable": false,
                            "data": null,
                            "defaultContent": '',
                            "width": "20px"
                        },
                        {
                            "title": "ContributorID",
                            "data": "id",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "Id"
                        },
                    
                        {
                            "title": "FirstName",
                            "data": "firstName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "FirstName"
                        },
                        {
                            "title": "LastName",
                            "data": "lastName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "LastName"
                        },
                     
                        {
                            "title": "Actions",
                            "data": "id",
                            //"targets": 0,
                            "searchable": false,
                            "orderable": false,
                            "width": '200px',
                            "classDescription": 'dt-body-center',
                            "visible": true,
                            "name": "Id",
                            "render": function (data, type, row) {
                                if ($("#UserRole").val() === "SLPAnnotator" || $("#UserRole").val() === "SLPAnnotatorAdmin" || $("#UserRole").val() === "SystemAdmin") {
                                    var link = '<a href="#" class="approve" >Approve</a>  | <a href="#" class="deny">Deny</a> | <a href="#" class="viewRating">View Rating</a> ';
                                    return link;
                                }
                                else if ($("#UserRole").val() === "TextAnnotator" || $("#UserRole").val() === "TextAnnotatorAdmin") {
                                    var link = '<a href="#" class="viewRating"> View Rating </a>';
                                    return link;
                                }
                               
                                return "";
                            }
                        }
                    ],
                    "ordering": true,
                    "paging": true,
                    "pageLength": 100,
                    "lengthMenu": [[25, 50, 100, 3000], [25, 50, 100, 3000]]

                });
                
                //view the contributor's recordings
            $('#WaitingForApprovalContributorTable tbody').on('click', 'td.details-control',function() {
                var tr = $(this).closest('tr');
                var row = oContributorsTable.row(tr);
                var contributorId = oContributorsTable.row(this).data().id;

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    //close other child rows
                    oContributorsTable.rows().every(function () {
                        var row = this;
                        if (row.child.isShown()) {
                            row.child.hide();
                            $(this.node()).removeClass('shown');                            
                        }
                    });


                    // Open this row
                    row.child(formatDataTableDetailRow(contributorId)).show();
                    tr.addClass('shown');
                    buildContributorSITRecordingTable(contributorId);
                }
            });

            function buildContributorSITRecordingTable(contributorId) {
                $.ajax({
                    url: '@Url.Action("LoadContributorSITRecordings", "SpeechFile")',
                    type: 'POST',
                    data: {
                        'contributorId': contributorId
                    },
                    success: function (data) {
                        var recordingList = $("#ContributorSITRecordings_" + contributorId);
                        recordingList.html(data);                       
                    },
                    error: function () {
                        alert("Error loading Contributor recordings");
                    }
                });

            }
            function formatDataTableDetailRow(contributorId) {
                return '<div id="ContributorSITRecordings_' + contributorId + '"></div>';

            }

          
            // view Rating
            $('#WaitingForApprovalContributorTable').on('click', 'a.viewRating', function (e) {
                e.preventDefault();
                var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                var getUrl = "@Url.Action("ViewSITRecordingRating", "SpeechFile")?contributorId=" + row.id;
                //$("#lblContributor").text(row.id);
                getRecordingRating(getUrl);
                $("#rating-dialog").dialog('open');
                return false;
            });
            function getRecordingRating(getUrl) {
                $("#rating-dialog").dialog({
                    title: "SIT Speech File Rating",
                    autoOpen: false,
                    resizable: false,
                    width: 1000,
                    height: 700,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    closeOnEscape: true,
                    position: { my: "left top", at: "left+50 top+100", of: window },

                    open: function () {
                        $(this).load(getUrl);                      
                    },
                    close: function () {

                    },
                    buttons: {

                        close: function () {

                            $(this).dialog('close');
                        }
                    }

                });
            }



           // approve the recording
            $('#WaitingForApprovalContributorTable').on('click', 'a.approve', function (e) {
                e.preventDefault();
                var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                $("#hidApproveContributorId").val(row.id);
                $("#lblApproveFirstName").text(row.firstName);
                $("#lblApproveLastName").text(row.lastName);
                approveContributor();
                $("#approve-dialog").dialog('open');
            });
            function approveContributor() {
                $("#approve-dialog").dialog({
                    title: "Approve Contributor",
                    autoOpen: false,
                    resizable: false,
                    width: 700,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    closeOnEscape: true,
                    position: { my: "left top", at: "left+50 top+100", of: window },
                    open: function () {
                        $('#approve-dialog').css('overflow', 'hidden'); //hide the vertial bar on the dialog
                    },
                    close: function () {
                        clearApproveDialog();
                    },
                    buttons: {
                        "Approve": function () {
                            var contributorId = $("#hidApproveContributorId").val();

                            $.ajax({
                                url: '@Url.Action("ApproveDenyContributor", "Contributor")',
                                type: "POST",
                                data: { "contributorId": contributorId, "comment": "", "passwordChange": $('input[name="ChangePassword"]:checked').val(), "action": 2 },
                                success: function (response) {
                                    if (response.success === true) {
                                        clearApproveDialog();
                                        $("#lblApproveMessage").removeClass("errorMessage");
                                        $('#approve-dialog').dialog('close');
                                        $("#lblMessage").text("Contributor is set to be approved.");
                                        oContributorsTable.draw();
                                        $.scrollTo($("#top"), { offset: { top: -150, left: -100 } });
                                    } else {
                                        $("#lblApproveMessage").text(response.message);
                                        $("#lblApproveMessage").addClass("errorMessage");
                                    }
                                },
                                error: function () { alert('Error Approve Contributor! It could be the timeout issue. Please try to reload your browser.'); }
                            });


                        },
                        close: function () {
                            clearApproveDialog();
                          
                            $(this).dialog('close');
                        }
                    }

                });
            }

            //deny the prompt
            $('#WaitingForApprovalContributorTable').on('click',
                'a.deny',
                function (e) {
                    e.preventDefault();
                    var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                    var row = selectedRowData.data();
                    $("#hidDenyContributorId").val(row.id);
                    $("#lblDenyFirstName").text(row.firstName);
                    $("#lblDenyLastName").text(row.lastName);
                    $("#txtDenyComment").val("");
                    denyRecording();
                    $("#deny-dialog").dialog('open');

                });
            function denyRecording() {
                $("#deny-dialog").dialog({
                    title: "Deny Contributor",
                    autoOpen: false,
                    resizable: false,
                    width: 700,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    closeOnEscape: true,
                    position: { my: "left top", at: "left+50 top+100", of: window },
                    open: function () {
                        $('#deny-dialog').css('overflow', 'hidden'); //hide the vertial bar on the dialog
                    },
                    close: function () {
                        clearDenyDialog();
                    },
                    buttons: {
                        "Deny": function () {
                            var contributorId = $("#hidDenyContributorId").val();
                            var denyComment = $("#txtDenyComment").val();
                            $.ajax({
                                url: '@Url.Action("ApproveDenyContributor", "Contributor")',
                                type: "POST",
                                data: {
                                     "contributorId": contributorId,"comment": denyComment, "action": 3 //3 for deny, 2 for approve
                                },
                                success: function (response) {
                                    if (response.success === true) {
                                        clearDenyDialog();
                                        $('#deny-dialog').dialog('close');
                                        $("#lblMessage").text("Contributor is denied.");
                                        oContributorsTable.draw();
                                        $.scrollTo($("#top"), { offset: { top: -150, left: -100 } });
                                    } else {
                                        $("#lblExcludedMessage").text(response.message);
                                        $("#lblExcludedMessage").addClass("errorMessage");
                                    }
                                },
                                error: function () { alert('Error Exclude Contributor! It could be the timeout issue. Please try to reload your browser.'); }
                            });


                        },
                        close: function () {
                            clearDenyDialog();
                            $(this).dialog('close');
                        }
                    }

                });
            }
            
            
           
            

           function clearApproveDialog(){
                $("#hidApproveContributorId").val("");
                $("#lblApproveFirstName").text("");
                $("#lblApproveLastName").text("");
                $("input[name='ChangePassword'][value='No']").prop('checked', true);
                $("#lblApproveMessage").text("Approve Recording for:");
                $("#lblApproveMessage").removeClass("errorMessage");            
           }

            function clearDenyDialog() {
                $("#hidDenyContributorId").val("");
                $("#lblDenyFirstName").text("");
                $("#lblDenyLastName").text("");
                $("#txtDenyComment").val("");
                $("#lblDenyMessage").text("Deny for Contributor");
                $("#lblDenyMessage").removeClass("errorMessage");
            }

        });//End document ready

    </script>
}