@using System.Security.Claims


@{
    ViewBag.Title = "Contributors Waiting for Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<h1>Contributors Waiting For Approval: @ViewBag.SubRoleName</h1>
<div id="top"></div>
@{
    var userRole = @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}
<input type="hidden" id="UserRole" value="@userRole" />
<input type="hidden" id="SubRole" value="@ViewBag.SubRole" />
<input type="hidden" id="ContributorLink" value="@ViewBag.ContributorLink" />
<input type="hidden" id="RegisterLink" value="@ViewBag.RegisterLink"/>

<label id="lblMessage" name="lblMessage" class="errorMessage"></label>
<div style="width: 1500px">
    <table class="table table-striped table-bordered table-hover" id="WaitingForApprovalContributorTable" cellspacing="0" align="center"></table>
</div>
<div id="rating-dialog" style="display: none"></div>

<div id="makeChanges-dialog" style="display: none">
    <label id="lblMakeChangesMessage">Contributor:</label>
    <input type="hidden" id="hidMakeChangesContributorId" />
    <br /><b>First Name:</b><label id="lblMakeChangesFirstName" name="lblMakeChangesFirstName"></label>
    <br /><b>Last Name:</b><label id="lblMakeChangesLastName" name="lblMakeChangesLastName"></label>
    <br />Comment:<br/><textarea id="txtMakeChangesComment" name="txtMakeChangesComment" rows="4" cols="50"></textarea>
    <br/><table id="tableChangePassword">
        <tr>
            <td>Need to change password?</td>
            <td>
                <input type="radio" name="ChangePassword" id="radChangePasswordNo" value="No" checked>
                <label for="radChangePasswordNo">No</label>
                <input type="radio" name="ChangePassword" id="radChangePasswordYes" value="Yes">
                <label for="radChangePasswordYes">Yes</label>
            </td>
        </tr>
    </table>
</div>

<div id="sendFollowUp-dialog" style="display: none">
    <label id="lblFollowUpMessage">Send follow-up message to below Contributor:</label>
    <input type="hidden" id="hidFollowUpContributorId" />
    <br /><b>First Name:</b><label id="lblFollowUpFirstName" name="lblFollowUpFirstName"></label>
    <br /><b>Last Name:</b><label id="lblFollowUpLastName" name="lblFollowUpLastName"></label>
    <br /><b>Email Address:</b><label id="lblFollowUpEmail" name="lblFollowUpEmail"></label>
    <br />Message to the Contributor:<br/>
    <textarea id="txtFollowUpMessage" name="txtFollowUpMessage" rows="4" cols="50" >
       
</textarea>

</div>

<div id="rate-dialog" style="display: none"></div>
<div id="listen-dialog" style="display: none">
    <p>
        <b>ContributorID:</b><label id="lblListenContributorId" name="lblListenContributorId"></label>
        <br/>
        <b>Transcript:</b><label id="lblListenTranscript" name="lblListenTranscript"></label>
        <br/>
        <input type="hidden" id="hidFileName"/>
        <audio id="listenRecording" controls>
            <source src="">
        </audio>

    </p>
</div>

<div id="editInfo-dialog" style="display: none">
    <label id="lblEditInfoMessage">Contributor:</label>
    <input type="hidden" id="hidEditInfoContributorId" />
    <br /><b>First Name:</b><label id="lblEditInfoFirstName" name="lblEditInfoFirstName"></label>
    <br /><b>Last Name:</b><label id="lblEditInfoLastName" name="lblEditInfoLastName"></label>
    <br /><b>Year of Birth:</b><input type="text" id="txtEditInfoBirthYear" name="txtEditInfoBirthYear" />
    <br/><br /><b>Contributor Email:</b><input type="text" id="txtEditContributorEmail" name="txtEditContributorEmail" />
    <br /><br /><b>Has Helper:</b> <input type="checkbox" id="chkHasHelper" name="chkHasHelper" />
    <br/><br/><b>Helper Email:</b><input type="text" id="txtEditHelperEmail" name="txtEditHelperEmail" />
    &nbsp;&nbsp;&nbsp;<b>Helper Phone:</b><input type="text" id="txtEditHelperPhone" name="txtEditHelperPhone" />
    <br />Comment:<br /><textarea id="txtEditInfoComment" name="txtEditInfoComment" rows="4" cols="50"></textarea>
</div>

<div class="spinner" style="display:none">
    <div class="center-div">
        <div class="inner-div">
            <div class="loader"></div>
        </div>
    </div>
</div>

@section scripts {

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/js/listenrecording.js"></script>
    <script src="~/js/Contributor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //bind datatable for Prompts
            var oContributorsTable = $("#WaitingForApprovalContributorTable").on('error.dt',
                function (e, settings, techNote, message) {
                    alert('Error loading the data. It could be the timeout issue. Please try to reload your browser. ', message);
                }).DataTable({
                    "serverSide": true,
                    "processing": true,
                    "responsive": true,
                    "iDisplayLength": 100,
                    "dom": "<'row'<'col-sm-4'l><'col-sm-4'i><'col-sm-4'f>>" +
                        "<'row'<'col-sm-12'tr>>p", //'<"top"l>rift<"bottom"p><"clear">',
                    "ajax": ({
                        "url": '@Url.Action("LoadContributorsForApproval", "Contributor")',
                        "data": { "etiologyId": $("#SubRole").val() },
                        "type": "POST",
                        "datatype": "json"
                    }),
                    "bAutoWidth": false,
                    "aaSorting": [[6, 'desc']],
                    "columns": [
                        {
                            "className": 'details-control',
                            "orderable": false,
                            "data": null,
                            "defaultContent": '',
                            "width": "10px"
                        },
                        {
                            "title": "ContributorID",
                            "data": "id",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "Id",
                            "width": "250px"
                        },
                    
                        {
                            "title": "FirstName",
                            "data": "firstName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "FirstName"
                        },
                        {
                            "title": "LastName",
                            "data": "lastName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "LastName"
                        },
                        {
                            "title": "BYear",
                            "data": "birthYear",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "BirthYear"
                        },
                        {
                            "title": "Email Address",
                            "data": "emailAddress",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "EmailAddress"
                        },
                        {
                            "title": "RegisterDate",
                            "data": "createTS",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "CreateTS",
                            'render': function (data) {
                                if (data != null) {
                                    var date = new Date(data);
                                    var month = date.getMonth() + 1;
                                    return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear() + "&nbsp;" + (date.getHours() < 10 ? ("0" + date.getHours()) : date.getHours()) + ":" + (date.getMinutes() < 10 ? ("0" + date.getMinutes()) : date.getMinutes());

                                }
                                return '';
                            }
                        },
                        {
                            "title": "HelperEmail",
                            "data": "helperEmail",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "HelperEmail",
                            'render': function (data,type, row) {                               
                                if (row.helperInd=="Yes")
                                    return row.helperEmail
                                return '';
                            }
                        },

                        {
                            "title": "HelperPhone",
                            "data": "helperPhoneNumber",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "HelperPhoneNumber",
                            'render': function (data, type, row) {
                                if (row.helperInd == "Yes")
                                    return row.helperPhoneNumber
                                return '';
                            }
                        },
                        {
                            "title": "Comments",
                            "data": "comments",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "comments"
                        },
                      
                        {
                            "title": "Actions",
                            "data": "id",
                            //"targets": 0,
                            "searchable": false,
                            "orderable": false,
                            "width": '270px',
                            "classDescription": 'dt-body-center',
                            "visible": true,
                            "name": "Id",
                            "render": function (data, type, row) {
                                if ($("#UserRole").val() === "SLPAnnotator" || $("#UserRole").val() === "SLPAnnotatorAdmin" || $("#UserRole").val() === "ExternalSLPAnnotator" || $("#UserRole").val() === "SystemAdmin") {
                                    var link = '<a href="#" class="deny">Deny</a> | <a href="#" class="NonResponsive">Non-Responsive</a> '
                                        + '<br>| <a href="#" class="viewRating">View Rating</a> | <a href="#" class="sendFollowUp">Send Follow-up</a>'
                                        + '| <a href="#" class="editInfo">Edit Info</a> ';

                                    ////if DS and Contributor is not register, should not have the Approve button
                                    // if ($("#SubRole").val() == 2) 
                                    // { //this is DS, add Registration link
                                    //    if (row.registerRequired == "Yes") {
                                    //        var contributorLink = $("#RegisterLink").val() + "?contributorId=" + row.id;
                                    //        link = '<a href="' + contributorLink + '" target="_blank">Register</a> | ' + link;
                                    //    }
                                    //    else
                                    //    {
                                    //        link = '<a href="#" class="approve" >Approve</a>  | ' + link;
                                    //    }
                                    //}
                                    //else
                                    //{
                                    //    link = '<a href="#" class="approve" >Approve</a>  | ' + link;
                                    //}
                                    //if the Etiology requires register, add the register link
                                    if (row.registerRequired == "Yes" &&  row.statusId == 5) {
                                        var contributorLink = $("#ContributorLink").val() +  $("#RegisterLink").val() + "?contributorId=" + row.id;
                                        link = '<a href="' + contributorLink + '" target="_blank">Register</a> | ' + link;
                                    }
                                    else
                                    {
                                        link = '<a href="#" class="approve" >Approve</a>  | ' + link;
                                    }
                                    return link;
                                }
                                else if ($("#UserRole").val() === "TextAnnotator" || $("#UserRole").val() === "TextAnnotatorAdmin" ) {
                                    var link = '<a href="#" class="viewRating"> View Rating </a>';
                                    return link;
                                }
                               
                                return "";
                            }
                        }
                    ],
                    "ordering": true,
                    "paging": true,
                    "pageLength": 100,
                    "lengthMenu": [[25, 50, 100, 3000], [25, 50, 100, 3000]]

                });
                
                //view the contributor's recordings
            $('#WaitingForApprovalContributorTable tbody').on('click', 'td.details-control',function() {
                var tr = $(this).closest('tr');
                var row = oContributorsTable.row(tr);
                var contributorId = oContributorsTable.row(this).data().id;

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    //close other child rows
                    oContributorsTable.rows().every(function () {
                        var row = this;
                        if (row.child.isShown()) {
                            row.child.hide();
                            $(this.node()).removeClass('shown');                            
                        }
                    });


                    // Open this row
                    row.child(formatDataTableDetailRow(contributorId)).show();
                    tr.addClass('shown');
                    buildContributorSITRecordingTable(contributorId);
                }
            });

            function buildContributorSITRecordingTable(contributorId) {
                $.ajax({
                    url: '@Url.Action("LoadContributorSITRecordings", "SpeechFile")',
                    type: 'POST',
                    data: {
                        'contributorId': contributorId,
                        'subRole': $("#SubRole").val()
                    },
                    success: function (data) {
                        var recordingList = $("#ContributorSITRecordings_" + contributorId);
                        recordingList.html(data);                       
                    },
                    error: function () {
                        alert("Error loading Contributor recordings");
                    }
                });

            }
            function formatDataTableDetailRow(contributorId) {
                return '<div id="ContributorSITRecordings_' + contributorId + '"></div>';

            }

          
            // view Rating
            $('#WaitingForApprovalContributorTable').on('click', 'a.viewRating', function (e) {
                e.preventDefault();
                var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                var getUrl = "@Url.Action("ViewSITRecordingRating", "SpeechFile")?contributorId=" + row.id + "&subRole=" + $("#SubRole").val();
                //$("#lblContributor").text(row.id);
                getRecordingRating(getUrl);
                $("#rating-dialog").dialog('open');
                return false;
            });
       


           // approve the recording
            $('#WaitingForApprovalContributorTable').on('click', 'a.approve', function (e) {
                e.preventDefault();
                $("#tableChangePassword").removeAttr('hidden');               
                var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                $("#lblMakeChangesMessage").text("Approve Contributor:");
                $("#hidMakeChangesContributorId").val(row.id);
                $("#lblMakeChangesFirstName").text(row.firstName);
                $("#lblMakeChangesLastName").text(row.lastName);
                $("#txtMakeChangesComment").val(row.comments);
                var postUrl = '@Url.Action("UpdateContributor", "Contributor")';
                changeContributor(postUrl, oContributorsTable, 2, 'Approve Contributor');
                $("#makeChanges-dialog").dialog('open');
            });
         

            //deny the contributor
            $('#WaitingForApprovalContributorTable').on('click',
                'a.deny',
                function (e) {
                    e.preventDefault();
                    $("#tableChangePassword").attr('hidden', 'hidden');                   
                    var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                    var row = selectedRowData.data();
                    $("#lblMakeChangesMessage").text("Deny Contributor:");
                    $("#hidMakeChangesContributorId").val(row.id);
                    $("#lblMakeChangesFirstName").text(row.firstName);
                    $("#lblMakeChangesLastName").text(row.lastName);
                    $("#txtMakeChangesComment").val(row.comments);
                    var postUrl = '@Url.Action("UpdateContributor", "Contributor")';
                    changeContributor(postUrl, oContributorsTable, 3, 'Deny Contributor');
                    $("#makeChanges-dialog").dialog('open');

                });

            //set NonResponsive
            $('#WaitingForApprovalContributorTable').on('click',
                'a.NonResponsive',
                function (e) {
                    e.preventDefault();
                    $("#tableChangePassword").attr('hidden', 'hidden');                   
                    var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                    var row = selectedRowData.data();
                    $("#lblMakeChangesMessage").text("Set Non-Responsive for Contributor:");
                    $("#hidMakeChangesContributorId").val(row.id);
                    $("#lblMakeChangesFirstName").text(row.firstName);
                    $("#lblMakeChangesLastName").text(row.lastName);
                    $("#txtMakeChangesComment").val(row.comments);
                    var postUrl = '@Url.Action("UpdateContributor", "Contributor")';
                    changeContributor(postUrl, oContributorsTable, 4, 'Non-Responsive Contributor');
                    $("#makeChanges-dialog").dialog('open');

                });
          
            //send follow up message to the contributor
            $('#WaitingForApprovalContributorTable').on('click',
                'a.sendFollowUp',
                function (e) {
                    e.preventDefault();
                    var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                    var row = selectedRowData.data();
                    $("#hidFollowUpContributorId").val(row.id);
                    $("#lblFollowUpFirstName").text(row.firstName);
                    $("#lblFollowUpLastName").text(row.lastName);
                    $("#lblFollowUpEmail").text(row.emailAddress);
                    var content = "Dear " + row.firstName + ",\n\nSincerely,\n Speech Accessibility Project Team\nUniversity of Illinois Urbana - Champaign";
                    $("#txtFollowUpMessage").val(content);
                    sendFollowUpContributor('@Url.Action("SendFollowUpToContributor", "Contributor")', oContributorsTable);
                    $("#sendFollowUp-dialog").dialog('open');

            });
            
            //Edit Info
             $('#WaitingForApprovalContributorTable').on('click',
                'a.editInfo',
                function (e) {
                    e.preventDefault();
                    var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                    var row = selectedRowData.data();
                    $("#lblEdiInfoMessage").text("Update Contributor Information:");
                    $("#hidEditInfoContributorId").val(row.id);
                    $("#lblEditInfoFirstName").text(row.firstName);
                    $("#lblEditInfoLastName").text(row.lastName);
                    $("#txtEditContributorEmail").val(row.emailAddress);
                    $("#txtEditHelperEmail").val(row.helperEmail);
                    $("#txtEditHelperPhone").val(row.helperPhoneNumber);
                    $("#txtEditInfoBirthYear").val(row.birthYear);
                   
                    if (row.helperInd=="Yes")
                    {
                        $("#chkHasHelper").prop('checked', true);
                        $("#txtEditHelperEmail").prop("disabled", false);
                        $("#txtEditHelperPhone").prop("disabled", false);
                        
                    }
                        
                    else
                    {
                        $("#chkHasHelper").prop('checked', false);
                        $("#txtEditHelperEmail").prop("disabled", true);
                        $("#txtEditHelperPhone").prop("disabled", true);
                        
                    }
                       
                    $("#txtEditInfoComment").val(row.comments);

                    editContributorInfo('@Url.Action("EditContributorInfo", "Contributor")', oContributorsTable, "Edit Contributor Info",1);
                    $("#editInfo-dialog").dialog('open');

            });            
        

            $('#chkHasHelper').change(function () {
                if (this.checked) {
                    $("#txtEditHelperEmail").prop("disabled", false);
                    $("#txtEditHelperPhone").prop("disabled", false);
                }
                else {
                    $("#txtEditHelperEmail").prop("disabled", true);
                    $("#txtEditHelperPhone").prop("disabled", true);
                }
            });
          

         
        });//End document ready

    </script>
}