@using System.Security.Claims
@{
    ViewData["Title"] = "Denied Contributors";
}
@{
    ViewBag.Title = "Contributor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<h1>Denied Contributors: @ViewBag.SubRoleName</h1>
@{
    var userRole = @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}
<input type="hidden" id="UserRole" value="@userRole" />
<input type="hidden" id="SubRole" value="@ViewBag.SubRole" />

<label id="lblMessage" name="lblMessage" class="errorMessage"></label>
<div style="width: 1500px">
    <table class="table table-striped table-bordered table-hover" id="ContributorTable" cellspacing="0" align="center"></table>
</div>

<div id="rating-dialog" style="display: none">
</div>
@*<div id="undeny-dialog" style="display: none">
    <label id="lblUnDenyMessage">Un-Deny below Contributor:</label>
    <input type="hidden" id="hidUnDenyContributorId" />
    <br /><b>First Name:</b><label id="lblUnDenyFirstName" name="lblUnDenyFirstName"></label>
    <br /><b>Last Name:</b><label id="lblUnDenyLastName" name="lblUnDenyLastName"></label>
    <br /><textarea id="txtUnDenyComment" name="txtUnDenyComment" rows="4" cols="50"></textarea>

</div>*@
<div id="makeChanges-dialog" style="display: none">
    <label id="lblMakeChangesMessage">Contributor:</label>
    <input type="hidden" id="hidMakeChangesContributorId" />
    <input type="hidden" id="hidMakeChangesOldEtiologyId" />
    <br /><b>First Name:</b><label id="lblMakeChangesFirstName" name="lblMakeChangesFirstName"></label>
    <br /><b>Last Name:</b><label id="lblMakeChangesLastName" name="lblMakeChangesLastName"></label>
    <br />Comment:<br/><textarea id="txtMakeChangesComment" name="txtMakeChangesComment" rows="4" cols="50"></textarea>
    <br/><table id="tableChangePassword">
        <tr>
            <td>Need to change password?</td>
            <td>
                <input type="radio" name="ChangePassword" id="radChangePasswordNo" value="No" checked>
                <label for="radChangePasswordNo">No</label>
                <input type="radio" name="ChangePassword" id="radChangePasswordYes" value="Yes">
                <label for="radChangePasswordYes">Yes</label>
            </td>
        </tr>
    </table>
    <!-- below dropdown is for changing etiology. It is hidden for Deny dialog. May use it in the future -->
    <div id="Etiologies" style="display: none">Change Etiology: @Html.DropDownList("EtiologyId", new SelectList(ViewBag.Etiologies, "Value", "Text"))</div>
</div>
<div id="editInfo-dialog" style="display: none">
    <label id="lblEditInfoMessage">Contributor:</label>
    <input type="hidden" id="hidEditInfoContributorId" />
    <br /><b>First Name:</b><label id="lblEditInfoFirstName" name="lblEditInfoFirstName"></label>
    <br /><b>Last Name:</b><label id="lblEditInfoLastName" name="lblEditInfoLastName"></label>
    <br /><b>Year of Birth:</b><input type="text" id="txtEditInfoBirthYear" name="txtEditInfoBirthYear" />
    <br /><br /><b>Contributor Email:</b><input type="text" id="txtEditContributorEmail" name="txtEditContributorEmail" />
    <br /><br /><b>Has Helper:</b> <input type="checkbox" id="chkHasHelper" name="chkHasHelper" />
    <br /><br /><b>Helper Email:</b><input type="text" id="txtEditHelperEmail" name="txtEditHelperEmail" />
    &nbsp;&nbsp;&nbsp;<b>Helper Phone:</b><input type="text" id="txtEditHelperPhone" name="txtEditHelperPhone" />
    <br />Comment:<br /><textarea id="txtEditInfoComment" name="txtEditInfoComment" rows="4" cols="50"></textarea>
</div>

<div class="spinner" style="display:none">
    <div class="center-div">
        <div class="inner-div">
            <div class="loader"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/js/Contributor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //bind datatable for Contributor
            var oContributorsTable = $("#ContributorTable").on('error.dt',
                function (e, settings, techNote, message) {
                    alert('Error loading the data. It could be the timeout issue. Please try to reload your browser. ', message);
                }).DataTable({
                    "serverSide": true,
                    "processing": true,
                    "responsive": true,
                    "iDisplayLength": 100,
                    "dom": "<'row'<'col-sm-4'l><'col-sm-4'i><'col-sm-4'f>>" +
                        "<'row'<'col-sm-12'tr>>p",
                    "ajax": ({
                        "url": '@Url.Action("LoadContributors", "Contributor")',
                        "type": "POST",
                        "data": { "subRole": $("#SubRole").val(), "filter": 3 },
                        "datatype": "json"
                    }),
                    "bAutoWidth": false,
                    "aaSorting": [[5, 'desc']],
                    "columns": [
                        {
                            "title": "ID",
                            "data": "id",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "Id"
                        },

                        {
                            "title": "FirstName",
                            "data": "firstName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "FirstName"
                        },
                      
                        {
                            "title": "LastName",
                            "data": "lastName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "LastName"
                        },
                        {
                            "title": "Email Address",
                            "data": "emailAddress",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "EmailAddress"
                        },
                        {
                            "title": "BirthYear",
                            "data": "birthYear",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "BirthYear"
                        },
                        {
                            "title": "Register Date",
                            "data": "createTS",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "CreateTS",
                            'render': function (data) {
                                if (data != null) {
                                    var date = new Date(data);
                                    var month = date.getMonth() + 1;
                                    return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear() + "&nbsp;" + (date.getHours() < 10 ? ("0" + date.getHours()) : date.getHours()) + ":" + (date.getMinutes() < 10 ? ("0" + date.getMinutes()) : date.getMinutes());

                                }
                                return '';
                            }
                        },
                        {
                            "title": "HelperEmail",
                            "data": "helperEmail",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "HelperEmail"
                          
                        },

                        {
                            "title": "HelperPhone",
                            "data": "helperPhoneNumber",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "HelperPhoneNumber"                          
                        },
                        {
                            "title": "Comments",
                            "data": "comments",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "Comments"
                        },
                       
                        {
                            "title": "Actions",
                            "data": "id",
                            //"targets": 0,
                            "searchable": false,
                            "orderable": false,
                            "width": '200px',
                            "classDescription": 'dt-body-center',
                            "visible": true,
                            "name": "id",
                            "render": function (data, type, row) {
                                //console.log(data);
                                if ($("#UserRole").val() === "SLPAnnotator" || $("#UserRole").val() === "SLPAnnotatorAdmin" || $("#UserRole").val() === "ExternalSLPAnnotator" || $("#UserRole").val() === "SystemAdmin") {
                                    var link = '<a href="#" class="viewRating" >View SIT Rating</a>  | <a href="#" class="undeny">Un-Deny</a>'
                                     + '<br>| <a href="#" class="editInfo">Edit Info</a> ';
                                    return link;
                                }
                                else
                                {
                                    var link = '<a href="#" class="viewRating" >View SIT Rating</a>';
                                    return link;
                                }
                                
                            }
                        }
                    ],
                    "ordering": true,
                    "paging": true,
                    "pageLength": 100,
                    "lengthMenu": [[25, 50, 100, 3000], [25, 50, 100, 3000]]
                });


          
            // rate the recording
            $('#ContributorTable').on('click', 'a.viewRating', function (e) {
                e.preventDefault();
                var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                var getUrl = "@Url.Action("ViewSITRecordingRating", "SpeechFile")?contributorId=" + row.id + "&subRole=" + $("#SubRole").val();
                $("#lblContributor").text(row.id);
                getRecordingRating(getUrl);
                $("#rating-dialog").dialog('open');
                return false;
            });
           

            $('#ContributorTable').on('click',
                'a.undeny',
                function (e) {
                    e.preventDefault();
                     $("#tableChangePassword").attr('hidden', 'hidden');                   
                    var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                    var row = selectedRowData.data();
                    $("#lblMakeChangesMessage").text("Un-Deny Contributor:");
                    $("#hidMakeChangesContributorId").val(row.id);
                    $("#lblMakeChangesFirstName").text(row.firstName);
                    $("#lblMakeChangesLastName").text(row.lastName);
                    $("#txtMakeChangesComment").val(row.comments);                   
                    $("#hidMakeChangesOldEtiologyId").val(row.etiologyId);
                    var postUrl = '@Url.Action("UpdateContributor", "Contributor")';
                    changeContributor(postUrl, oContributorsTable, 1, 'Un-Deny Contributor'); //1 for un - deny, 3 for deny, 2 for approve, 4 for non-responsive
                    $("#makeChanges-dialog").dialog('open');


                });

            //Edit Info
            $('#ContributorTable').on('click',
                'a.editInfo',
                function (e) {
                    e.preventDefault();
                    var selectedRowData = oContributorsTable.row($(this).closest('tr'));
                    var row = selectedRowData.data();
                    $("#lblEdiInfoMessage").text("Update Contributor Information:");
                    $("#hidEditInfoContributorId").val(row.id);
                    $("#lblEditInfoFirstName").text(row.firstName);
                    $("#lblEditInfoLastName").text(row.lastName);
                    $("#txtEditContributorEmail").val(row.emailAddress);
                    $("#txtEditHelperEmail").val(row.helperEmail);
                    $("#txtEditInfoBirthYear").val(row.birthYear);
                    if (row.helperInd == "Yes")
                    {
                        $("#chkHasHelper").prop('checked', true);
                        $("#txtEditHelperEmail").prop("disabled", false);
                        $("#txtEditHelperPhone").prop("disabled", false);
                    }                        
                    else
                    {
                        $("#chkHasHelper").prop('checked', false);
                        $("#txtEditHelperEmail").prop("disabled", true);
                        $("#txtEditHelperPhone").prop("disabled", true);
                    }
                    $("#txtEditInfoComment").val(row.comments);   

                    $("#txtEditInfoComment").val(row.comments);
                    editContributorInfo('@Url.Action("EditContributorInfo", "Contributor")', oContributorsTable, "Edit Contributor Information", 4);
                    $("#editInfo-dialog").dialog('open');

                });
           
                $('#chkHasHelper').change(function () {
                    if (this.checked) {
                        $("#txtEditHelperEmail").prop("disabled", false);
                        $("#txtEditHelperPhone").prop("disabled", false);
                    }
                    else {
                        $("#txtEditHelperEmail").prop("disabled", true);
                        $("#txtEditHelperPhone").prop("disabled", true);
                    }
                });

        });//End document ready

    </script>
}
