@using System.Security.Claims
@{
    ViewData["Title"] = "Approved Contributors";
}
@{
    ViewBag.Title = "Approved Contributors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<h1>Approved Contributors: @ViewBag.SubRoleName</h1>
@{
    var userRole = @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}
<input type="hidden" id="UserRole" value="@userRole" />
<input type="hidden" id="SubRole" value="@ViewBag.SubRole" />
<label id="lblMessage" name="lblMessage" class="errorMessage"></label>

<div>
    <b>Toggle column: </b>
    <a class="toggle-vis" data-column="4" style="color: #0366d6 !important; cursor: pointer;">Phone Number</a>
    - <a class="toggle-vis" data-column="5" style="color: #0366d6 !important; cursor: pointer;">Birth Year</a>
    - <a class="toggle-vis" data-column="6" style="color: #0366d6 !important; cursor: pointer;">Gender</a>
    - <a class="toggle-vis" data-column="7" style="color: #0366d6 !important; cursor: pointer;">Helper Email</a>
    - <a class="toggle-vis" data-column="8" style="color: #0366d6 !important; cursor: pointer;">Helper Phone</a>
    - <a class="toggle-vis" data-column="13" style="color: #0366d6 !important; cursor: pointer;">SentFollowUpDate</a>
    - <a class="toggle-vis" data-column="15" style="color: #0366d6 !important; cursor: pointer;">Comments</a>
</div>
<div style="width: 1800px">
    <table class="table table-striped table-bordered table-hover" id="ContributorTable" cellspacing="0" align="center"></table>
</div>

<div id="rating-dialog" style="display: none"></div>
<div id="assignedAnnotators-dialog" style="display: none"></div>
<div id="assignedBlockPrompts-dialog" style="display: none"></div>
<div id="scheduleFollowUpEmail-dialog" style="display: none"></div>

<div id="contributorRecordings-dialog" style="display: none"></div>
<div id="listen-dialog" style="display: none">
    <p>
        <b>ContributorID:</b><label id="lblListenContributorId" name="lblListenContributorId"></label>
        <br/>
        <b>Transcript:</b><label id="lblListenTranscript" name="lblListenTranscript"></label>
        <br/>
        <input type="hidden" id="hidFileName"/>
        <audio id="listenRecording" controls>
            <source src="">
        </audio>

    </p>
</div>

<div id="editInfo-dialog" style="display: none">
    <label id="lblEditInfoMessage">Contributor:</label>
    <input type="hidden" id="hidEditInfoContributorId" />
    <br /><b>First Name:</b><label id="lblEditInfoFirstName" name="lblEditInfoFirstName"></label>
    <br /><b>Last Name:</b><label id="lblEditInfoLastName" name="lblEditInfoLastName"></label>
    <br /><b>Year of Birth:</b><input type="text" id="txtEditInfoBirthYear" name="txtEditInfoBirthYear" />
    <br/><br /><b>Contributor Email:</b><input type="text" id="txtEditContributorEmail" name="txtEditContributorEmail" />
    <br /><br /><b>Has Helper:</b> <input type="checkbox" id="chkHasHelper" name="chkHasHelper" />
    <br/><br/><b>Helper Email:</b><input type="text" id="txtEditHelperEmail" name="txtEditHelperEmail" />
    &nbsp;&nbsp;&nbsp;<b>Helper Phone:</b><input type="text" id="txtEditHelperPhone" name="txtEditHelperPhone" />
    <br />Comment:<br /><textarea id="txtEditInfoComment" name="txtEditInfoComment" rows="4" cols="50"></textarea>
    <br /><b>Status:</b>
    <select id="dlSubStatus" asp-items="@ViewBag.SubStatus"></select>
</div>


<div class="spinner" style="display:none">
    <div class="center-div">
        <div class="inner-div">
            <div class="loader"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/js/listenrecording.js"></script>
    <script src="~/js/Contributor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //bind datatable for Contributor
            var oContributorTable = $("#ContributorTable").on('error.dt',
                function (e, settings, techNote, message) {
                    alert('Error loading the data. It could be the timeout issue. Please try to reload your browser. ', message);
                }).DataTable({
                    "serverSide": true,
                    "processing": true,
                    "responsive": true,
                    "iDisplayLength": 100,
                    "dom": "<'row'<'col-sm-4'l><'col-sm-4'i><'col-sm-4'f>>" +
                        "<'row'<'col-sm-12'tr>>p",
                    "ajax": ({
                        "url": '@Url.Action("LoadContributors", "Contributor")',
                        "data": { "subRole": $("#SubRole").val(), "filter": 2 },
                        "type": "POST",
                        "datatype": "json"
                    }),
                    "bAutoWidth": false,
                    "aaSorting": [[8, 'desc']],
                    "columns": [
                         {
                             "title": "View Blocks",
                            "className": 'details-control',
                            "orderable": false,
                            "data": null,
                            "defaultContent": '',
                            "width": "10px"
                        },
                        {
                            "title": "ID",
                            "data": "id",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "Id",
                            "width": "250px"
                        },

                        {
                            "title": "FirstName",
                            "data": "firstName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "FirstName"
                        },
                      
                        {
                            "title": "LastName",
                            "data": "lastName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "LastName"
                        },
                        {
                            "title": "Phone",
                            "data": "phoneNumber",
                            "searchable": true,
                            "orderable": true,
                            "visible": false,
                            "name": "PhoneNumber"
                        },
                        {
                            "title": "BYear",
                            "data": "birthYear",
                            "searchable": true,
                            "orderable": true,
                            "visible": false,
                            "name": "BirthYear"
                        },
                        {
                            "title": "Gender",
                            "data": "gender",
                            "searchable": true,
                            "orderable": false,
                            "visible": false,
                            "name": "Gender",                         
                        },
                        {
                            "title": "HelperEmail",
                            "data": "helperEmail",
                            "searchable": true,
                            "orderable": true,
                            "visible": false,
                            "name": "HelperEmail"
                        },

                        {
                            "title": "HelperPhone",
                            "data": "helperPhoneNumber",
                            "searchable": true,
                            "orderable": true,
                            "visible": false,
                            "name": "HelperPhoneNumber"                           
                        },
                        {
                            "title": "AppDate",
                            "data": "approveTS",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "width": "50px",
                            "name": "ApproveTS",
                            "render": function (data) {
                                if(data != null){
                                    var date = new Date(data);
                                    var month = date.getMonth() + 1;
                                    return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                                }
                                return '';
                                
                            }
                        },
                        {
                            "title": "#BLocks",
                            "data": "assignedBlocksCnt",
                            "searchable": true,
                            "orderable": false,
                            "visible": true,
                            "name": "AssignedBlocksCnt"
                        },
                        {
                            "title": "LastRecording",
                            "data": "lastRecordingDate",
                            "searchable": true,
                            "orderable": true,
                            "width": "50px",
                            "visible": true,
                            "name": "LastRecordingDate",
                            "render": function (data) {
                                if(data!= null)
                                {
                                    var date = new Date(data);
                                    var month = date.getMonth() + 1;
                                    return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear() + "&nbsp;" + (date.getHours() < 10 ? ("0" + date.getHours()) : date.getHours()) + ":" + (date.getMinutes() < 10 ? ("0" + date.getMinutes()) : date.getMinutes());
                                }
                                return '';                            
                            }
                        },
                        {
                            "title": "AnnAsg",
                            "data": "assignedAnnotator",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "AssignedAnnotator"
                        },
                        {
                            "title": "SentFollowUpDate",
                            "data": "followUpDates",
                            "searchable": true,
                            "orderable": false,
                            "visible": false,
                            "name": "FollowUpDates",
                            //"render": function (data) {
                            //    if (data != "") {
                            //        var date = new Date(data);
                            //        var month = date.getMonth() + 1;
                            //        return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear() + "&nbsp;" + (date.getHours() < 10 ? ("0" + date.getHours()) : date.getHours()) + ":" + (date.getMinutes() < 10 ? ("0" + date.getMinutes()) : date.getMinutes());

                            //    }
                            //    return '';

                            //}
                        },
                        {
                            "title": "Status",
                            "data": "subStatusName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "SubStatusName"                          
                        },
                        {
                            "title": "Comments",
                            "data": "comments",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "Comments"
                        },

                        {
                            "title": "Actions",
                            "data": "id",
                            //"targets": 0,
                            "searchable": false,
                            "orderable": false,
                            "width": '200px',
                            "classDescription": 'dt-body-center',
                            "visible": true,
                            "name": "Id",
                            "render": function (data, type, row) {
                                var link="";
                                if ($("#UserRole").val() === "TextAnnotatorAdmin" || $("#UserRole").val() === "SystemAdmin") {
                                    link = '<a href="#" class="assignAnnotator" >Assign Annotators</a>'
                                        + ' | <a href="#" class="editInfo">Edit Info</a> '
                                        + '<br><a href="#" class="viewSITRating" >View SIT Rating</a>'
                                        + ' | <a href="#" class="sendFollowUp">Send Follow-up </a>'
                                        ;
                                    return link;
                                }
                                link = '<a href="#" class="viewSITRating" >View SIT Rating</a> '
                                    + '<br><a href="#" class="sendFollowUp">Send Follow-up </a>'
                                    + '<br><a href="#" class="editInfo">Edit Info</a> ';
                                return link;
                               
                            }
                        }
                    ],
                    "ordering": true,
                    "paging": true,
                    "pageLength": 100,
                    "lengthMenu": [[25, 50, 100, 3000], [25, 50, 100, 3000]]
                });

            document.querySelectorAll('a.toggle-vis').forEach((el) => {
                el.addEventListener('click', function (e) {
                    e.preventDefault();
 
                    let columnIdx = e.target.getAttribute('data-column');
                    let column = oContributorTable.column(columnIdx);
 
                    // Toggle the visibility
                    column.visible(!column.visible());
                });
            });

            $('#ContributorTable tbody').on('click',
                'td.details-control',
                function() {
                    var tr = $(this).closest('tr');
                    var row = oContributorTable.row(tr);
                    var contributorId = oContributorTable.row(this).data().id;
                                       

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                         //close other child rows
                        oContributorTable.rows().every(function () {
                            var row = this;
                            if (row.child.isShown()) {
                                row.child.hide();
                                $(this.node()).removeClass('shown');                            
                            }
                        });

                        // Open this row
                        row.child(formatDataTableDetailRow(contributorId)).show();
                        tr.addClass('shown');
                        buildContributorAssignedBlocksTable(contributorId);
                    }             

                });

            function buildContributorAssignedBlocksTable(contributorId) {
                $.ajax({
                    url: '@Url.Action("LoadContributorAssignedBlocks", "SpeechFile")',
                    type: 'POST',
                    data: {
                        'contributorId': contributorId,
                        'subRole': $("#SubRole").val()
                    },
                    success: function (data) {
                        var recordingList = $("#AssignedBlocks_" + contributorId);
                        recordingList.html(data);
                        
                    },
                    error: function () {
                        alert("Error loading Contributor Assigned Blocks");
                    }
                });

            }
            function formatDataTableDetailRow(contributorId) {
                return '<div id="AssignedBlocks_' + contributorId + '"></div>';

            }



            // view SIT Rating
            $('#ContributorTable').on('click', 'a.viewSITRating', function (e) {
                e.preventDefault();
                var selectedRowData = oContributorTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                var getUrl = "@Url.Action("ViewSITRecordingRating", "SpeechFile")?contributorId=" + row.id + "&subRole=" + $("#SubRole").val();
               
                getRecordingRating(getUrl);
                $("#rating-dialog").dialog('open');
                return false;
            });
            function getRecordingRating(getUrl) {
                $("#rating-dialog").dialog({
                    title: "SIT Speech File Rating",
                    autoOpen: false,
                    resizable: false,
                    width: 1000,
                    height: 700,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    closeOnEscape: true,
                    position: { my: "left top", at: "left+50 top+100", of: window },

                    open: function () {
                        $(this).load(getUrl);
                        //$('#rating-dialog').css('overflow', 'hidden'); //hide the vertial bar on the dialog
                    },
                    close: function () {
                        $("#rating-dialog").empty();
                    },
                    buttons: {

                        close: function () {
                            $("#rating-dialog").empty();
                            $(this).dialog('close');
                        }
                    }

                });
            }


            // assign Annotators
            $('#ContributorTable').on('click', 'a.assignAnnotator', function (e) {
                e.preventDefault();
                var selectedRowData = oContributorTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                var getUrl = "@Url.Action("GetAssignContributorAnnotators", "Contributor")?contributorId=" + row.id;
                //$("#lblContributor").text(row.id);
                getAnnotators(getUrl);
                $("#assignedAnnotators-dialog").dialog('open');
                return false;
            });
            function getAnnotators(getUrl) {
                $("#assignedAnnotators-dialog").dialog({
                    title: "Assign Annotators",
                    autoOpen: false,
                    resizable: false,
                    width: 1000,
                    height: 700,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    closeOnEscape: true,
                    position: { my: "left top", at: "left+50 top+100", of: window },

                    open: function () {
                        $(this).load(getUrl);
                        //$('#rating-dialog').css('overflow', 'hidden'); //hide the vertial bar on the dialog
                    },
                    close: function () {

                    },
                    buttons: {
                        close: function () {

                            $(this).dialog('close');
                        }
                    }

                });
            }
            
             // schedule a follow-up email
            $('#ContributorTable').on('click', 'a.sendFollowUp', function (e) {
                e.preventDefault();
                var selectedRowData = oContributorTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                var getUrl = "@Url.Action("ScheduleFollowUpEmail", "Contributor")?contributorId=" + row.id;
                var postUrl = '@Url.Action("SaveScheduleFollowUpEmail", "Contributor")';
                getScheduleFollowUpEmail(getUrl, postUrl, oContributorTable);
                $("#scheduleFollowUpEmail-dialog").dialog('open');
                return false;
            });          

           
            
             //Edit Info
            $('#ContributorTable').on('click',
                'a.editInfo',
                function (e) {
                    e.preventDefault();
                    var selectedRowData = oContributorTable.row($(this).closest('tr'));
                    var row = selectedRowData.data();
                    $("#lblEdiInfoMessage").text("Update Contributor Information:");
                    $("#hidEditInfoContributorId").val(row.id);
                    $("#lblEditInfoFirstName").text(row.firstName);
                    $("#lblEditInfoLastName").text(row.lastName);
                    $("#txtEditContributorEmail").val(row.emailAddress);
                    $("#txtEditHelperEmail").val(row.helperEmail);
                    $("#txtEditInfoBirthYear").val(row.birthYear);       
                    
                    if (row.helperInd == "Yes") {
                        $("#chkHasHelper").prop('checked', true);
                        $("#txtEditHelperEmail").prop("disabled", false);
                        $("#txtEditHelperPhone").prop("disabled", false);                       
                    }                        
                    else
                    {
                        $("#chkHasHelper").prop('checked', false);
                        $("#txtEditHelperEmail").prop("disabled", true);
                        $("#txtEditHelperPhone").prop("disabled", true);                        
                    }

                    $("#txtEditInfoComment").val(row.comments);
                    $("#dlSubStatus").val(row.subStatusId).trigger("chosen:updated");
                    editContributorInfo('@Url.Action("EditContributorInfo", "Contributor")', oContributorTable, "Edit Contributor Information",2);
                    $("#editInfo-dialog").dialog('open');

            });


            $('#chkHasHelper').change(function () {
                if (this.checked) {
                    $("#txtEditHelperEmail").prop("disabled", false);
                    $("#txtEditHelperPhone").prop("disabled", false);
                }
                else {
                    $("#txtEditHelperEmail").prop("disabled", true);
                    $("#txtEditHelperPhone").prop("disabled", true);
                }
            });         


        });//End document ready

    </script>
}
