@model RecordPromptModel
@{
    ViewData["Title"] = "Record Prompt";
}
<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

<h1 class="sr-only">@ViewData["Title"]</h1>

<div id="errorDiv" class="text-danger"></div>

<div class="container" id="container">

    
    <div id="consentDiv"></div>

    @if (Model.etiologyId == 2)
    {
        <p>Remember, there is no right or wrong answer. We only care about hearing you talk. If you are not happy with your first recording, you will have 2 additional opportunities.</p>
        <p>Caregivers: If you are assisting an adult with Down syndrome, you may read the phrases or questions out loud. Please only speak at the beginning or end of a phrase without interrupting the adult’s speech.</p>

    }
    else if (Model.etiologyId ==4)
    {
        <p>Remember, there is no right or wrong answer. We only care about hearing you talk. If you are not happy with your first recording, you will have 2 additional opportunities.</p>
        <p>Caregivers: If you are assisting an adult with aphasia, you may read the phrases or questions out loud. Please only speak at the beginning or end of a phrase without interrupting the adult’s speech.</p>

    }

        <div id="messageDiv" class="text-danger">
        <p><strong>Please do not mention your personal information in your recording. The recording will stop after two minutes.</strong></p>          
    </div>


    <dialog id="maxTimeDialog">
        <h1>Time limit met.</h1>
        <p>Recording has met the max time limit. You may proceed to the next prompt.</p>
        <form method="dialog">
            <button>OK</button>
        </form>
    </dialog>

    <dialog id="saveRecordingError">
        <h1>Audio not captured.</h1>
        <p id="saveRecordingText"></p>
        <form method="dialog">
            <button>OK</button>
        </form>
    </dialog>

    @if (Model.prompt.Category.Id == 1)
    {
        int assessmentPromptsCompleteCount = Model.assessmentCount - 1;

        int percentComplete = (int)Math.Round((double)(100 * assessmentPromptsCompleteCount) / Model.assessmentMax);

        if (percentComplete != 0)
        {
            <div class="progress" style="height: 35px;" data-label="@percentComplete">
                <div class="progress-bar" role="progressbar" aria-valuenow="@percentComplete" style="width:@percentComplete%;">
                    <span style="font-size:large"><strong>@percentComplete%</strong></span>
                </div>
            </div>

        }

    }
    else 
    {
        int blockCompleteCount = Model.currentBlockOfPromptsCount;

        int percentComplete = (int)Math.Round((double)(100 * blockCompleteCount) / Model.blockMax);

        int categoryCount = Model.digitalCommandMax + Model.novelSentenceMax;

        if (Model.etiologyId == 3 && Model.promptCategoryId==5)
        {
            categoryCount = Model.digitalCommandMax + Model.uaPromptMax;    

        }


        if (Model.currentBlockOfPromptsCount == Model.digitalCommandMax)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa-solid fa-star fa-bounce" style="padding-right:10px"></i>Congratulations! You completed Section 1 of Block @Model.totalBlockCount!
            </div>

            if (Model.etiologyId == 2)
            {
                <input hidden id="showOpenEndedMessage" value="true" />
                
             <dialog id="openEndedMessage">
                <h1>You have completed Section 1 of Block @Model.totalBlockCount!</h1>
                <p>
                    The next section will contain open-ended questions.<br />
                     Please answer the questions aloud using several sentences.<br />
                    </p>
                    <p>
                        Sometimes two questions in a row are related to each other.<br/>
                        You will answer both questions on the same topic.
                </p>

                <form method="dialog">
                    <button>OK</button>
                </form>
            </dialog>
            }
        }

        if (Model.currentBlockOfPromptsCount == categoryCount && Model.etiologyId!=2 && Model.etiologyId!=3 && Model.etiologyId!=4)
        {

            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa-solid fa-star fa-bounce" style="padding-right:10px"></i>Congratulations! You completed Section 2 of Block @Model.totalBlockCount!
            </div>

            <input hidden id="showOpenEndedMessage" value="true" />

                <dialog id="openEndedMessage">
                    <h1>You have completed Section 2 of Block @Model.totalBlockCount!</h1>
                    <p>
                        The next section will contain @if (Model.etiologyId == 6)
                        {
                            @Model.openEndedMax;
                        } open-ended questions.<br />
                        <strong>
                            Please answer each question using several sentences.<br />
                            Do not simply read the question out loud, but say your response.
                        </strong>
                    </p>

                    <form method="dialog">
                        <button>OK</button>
                    </form>
                </dialog>
            
          
        }

        if (Model.totalBlockCount != 0 && percentComplete == 0 && Model.retryCount==0)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa-solid fa-star fa-bounce" style="padding-right:10px"></i>Congratulations! You completed Block @Model.totalBlockCount!
            </div>

                <input hidden id="showSection1And2Message" value="true" />
                     
                <dialog id="section1And2Message">
                <h1>You have completed Block @Model.totalBlockCount!</h1>
                @if (Model.etiologyId == 2 || Model.etiologyId==3 || Model.etiologyId==4)
                {
                    <p>
                        The next section will contain digital command prompts.<br />
                        Please record yourself speaking the prompts.
                    </p>
                }
                else if(Model.etiologyId==6)
                {
                    <p>The next section will contain @Model.digitalCommandMax digital command prompts and @Model.novelSentenceMax novel sentences.<br />
                        Please record yourself speaking the prompts.</p>
                }
                else 
                {
                    <p>
                        The next section will contain digital command prompts and novel sentences.<br />
                        <strong>Please record yourself speaking the prompts.</strong>
                    </p>
                }
              
                    @if (Model.totalBlockCount == 9)
                    {
                    <p>The prompts in this next section may seem familiar to you. They’re designed to be the same as the first ones you encountered.</p>
                    }
               
                <form method="dialog">
                    <button>OK</button>
                </form>
            </dialog>

        }
        else if (Model.totalBlockCount != 0)
        {
            <div class="progress" style="height: 35px;">
                <div class="progress-bar" role="progressbar"
             aria-valuenow="@percentComplete" style="width:@percentComplete%;">
                    <span class="progressText"><strong>Block @Model.totalBlockCount Progress: @percentComplete%</strong></span>
         </div>
            </div>
        }

    }

    <br />
    <div>
      @if(Model.etiologyId==2 || Model.etiologyId==4)
        {

           <p>To record your speech, please follow these 3 steps:</p>
            if (Model.prompt.Category.Id == 2 || Model.prompt.Category.Id==3)
            {
                <p>1. Press the record button.<br /><strong>2. Read the text.</strong><br/> 3. Press Stop Recording.</p>
               <strong>Text</strong>
        }
            else if (Model.prompt.Category.Id == 4)
            {
                <p>1. Press the record button.<br/> <strong>2. Answer the question.</strong><br/>3. Press Stop Recording.</p>              
            <strong>Question</strong>
            }

        }
        else if (Model.prompt.SubCategory.Id==1 || Model.prompt.SubCategory.Id==16 || Model.prompt.SubCategory.Id==17)
        {

            <p>Please speak your response to the prompt below. <strong>Do not simply read the question out loud, but say your response.</strong></p>
        }
        else if (Model.prompt.SubCategory.Id==2)
        {
            <p>In this section, you will be explaining the steps to complete some tasks. Don’t worry if you haven’t actually done the task before. Imagine that you are teaching someone how to do the task.</p>

        }

        else
        {
           
         <p>Please record yourself speaking the prompt below.</p>
           
        }


        <p id="prompt" value="@Model.prompt.Transcript">
            @if (Model.etiologyId == 6 || Model.etiologyId==2 || Model.etiologyId==3)
            {
                <select hidden id="voiceSelect"></select>
                <button class="btn btn-primary" onclick="speakPrompt()">
                    <i title="Click here to speak prompt aloud." id="speakerIcon" class="fa-solid fa-volume-high"></i>
                </button>
            }     
            @if (Model.etiologyId == 3)
            {
                <span id="transcript" style="background-color:yellow">@Model.prompt.Transcript</span>
            }
            else
            {
                 <span id="transcript">@Model.prompt.Transcript</span>

            }
           
        </p>


    </div>
    <div class="p-3">
        <canvas id="waveform"></canvas>
    </div>
    <div class="p-3" aria-live="polite">
        <span id="recordingStatus" class="sr-only"></span>
        <input hidden id="retryCount" asp-for="@Model.retryCount" value="@Model.retryCount" />
        <div id="saveDiv" style="display:none;padding-bottom:10px">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Saving...</span>
            </div>
            <span>Saving...</span><br />
       </div>
        <div id="recordingStartedDiv" style="display:none;padding-bottom:10px">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Recording Started...</span>
            </div>
            <span>Recording Started...</span><br />
        </div>
        @if (Model.etiologyId == 6)
        {

            <button id="recordButton" class="btn btn-primary">Record</button>
        }
        <form style="display: inline-block;" method="post" id="recordForm">
            <input hidden id="contributorId" asp-for="@Model.contributorId" value="@Model.contributorId" />
            <input hidden id="promptId" asp-for="@Model.prompt.Id" value="@Model.prompt.Id" />
            <input hidden id="categoryId" asp-for="@Model.prompt.Category.Id" value="@Model.prompt.Category.Id" />
            <input hidden id="blockId" asp-for="@Model.blockId" value="@Model.blockId" />
            <input hidden id="subCategoryId" asp-for="@Model.prompt.SubCategory.Id" value="@Model.prompt.SubCategory.Id" />
            <input hidden id="phonationPromptCount" asp-for="@Model.phonationPromptCount" value="@Model.phonationPromptCount" />
            <input hidden id="clientStartTS" />
            <button hidden type="submit" class="btn btn-primary" id="nextButton" style="margin-right:10px">Next</button>
        </form>
        @if (Model.etiologyId != 6)
        {
            
             <button id="recordButton" class="btn btn-primary">Record</button>
        }
            <button hidden id="playButton" class="btn btn-primary">Listen</button>
            <span style="padding-left:10px" id="rerecordMessage"></span>
       </div>
    @if (Model.etiologyId == 2)
    {
        <p>After you press Stop Recording, you can press Next or Rerecord.</p>
    }
  
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
 
        function populateVoiceList() {
            if (typeof speechSynthesis === "undefined") {
                return;
            }

            const voices = speechSynthesis.getVoices();

            for (let i = 0; i < voices.length; i++) {
                const option = document.createElement("option");
                option.textContent = `${voices[i].name})`;

                option.setAttribute("data-lang", voices[i].lang);
                option.setAttribute("data-name", voices[i].name);
                document.getElementById("voiceSelect").appendChild(option);
            }
        }

        populateVoiceList();
        if (
            typeof speechSynthesis !== "undefined" &&
            speechSynthesis.onvoiceschanged !== undefined
        ) {
            speechSynthesis.onvoiceschanged = populateVoiceList;
        }

    Cookies = 'existent global'

    $(document).ready(function () {

        var anchor = document.getElementById("main");
        anchor.scrollIntoView(true);

        $("#recordForm").submit(function (e) {

            //disable the submit button
            $("#nextButton").attr("disabled", true);

            return true;

        });
    });


</script>

<script src="~/lib/font-awesome/js/all.min.js"></script>
<script src="~/lib/js-cookie/dist/js.cookie.js"></script>
<script src="~/lib/js-cookie/dist/js.cookie.min.js"></script>
<script src="~/js/Recorder.js" asp-append-version="true" type="module"></script>
<script src="~/js/site.js" asp-append-version="true"></script>