@model SpeechAccessibility.Annotator.Models.ContributorCompensationViewModel
@{
    ViewBag.Title = "View Contributors Compensation By Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table>
    <tr>
        <td>
            <h4>Contributors Qualified for First Gift Card (@Model.ContributorsQualifyForFirstCard.Count)</h4>
        </td>
        <td>
            <!-- for payment by check we issue one check for all 3 gift cards -->
            @* <input type="button" id="btnFirstGiftCard" name="btnFirstGiftCard" value="Generate CSV File" formtarget="_blank" />*@

        </td>
    </tr>
</table>


<div style="width: 1500px">
    <table id="ContributorsForFirstGiftCard">
        <tr>
            <th style="width: 10px;">&nbsp;</th>
            <th style="width: 350px;">ContributorID</th>
            <th style="width: 250px;">Name</th>
            <th style="width: 250px;">Contributor Email</th>
            <th>Helper</th>
            <th>#Recordings</th>
            <th>Etiology</th>

        </tr>
        @{

            foreach (var contributor in Model.ContributorsQualifyForFirstCard)
            {
                <tr>
                    <td>
                        <!-- <input type="checkbox" id="chkFirstGiftCard_@contributor.ContributorId" name="chkFirstGiftCard" value="@contributor.ContributorId" checked> -->
                    </td>
                    <td>@contributor.ContributorId </td>
                    <td>@contributor.FirstName &nbsp; @contributor.LastName</td>
                    <td>@contributor.EmailAddress </td>
                    <td>
                        @if (contributor.HelperInd == "Yes")
                        {
                            @Html.Raw(contributor.HelperFirstName + " " + contributor.HelperLastName + " (" + contributor.HelperEmail + ")")
                        }
                    </td>
                    <td style="text-align: center">@contributor.RecordingCount</td>
                    <td style="text-align: left">
                        @contributor.Etiology
                        @{
                            if (!string.IsNullOrEmpty(contributor.PromptCategory))
                            {
                                <text>-</text> @contributor.PromptCategory
                                ;
                            }

                        }
                    </td>

                </tr>
            }
        }
    </table>
</div>
<hr />

<table>
    <tr>
        <td>
            <h4>Contributors Qualified for Second Gift Card (@Model.ContributorsQualifyForSecondCard.Count)</h4>
        </td>
        <td>
            <!-- for payment by check we issue one check for all 3 gift cards -->
            @*<input type="button" id="btnSecondGiftCard" name="btnSecondGiftCard" value="Generate CSV File"/>*@
        </td>
    </tr>
</table>
<div style="width: 1500px">
    <table id="ContributorsForSecondGiftCard">
        <tr>
            <th style="width: 10px;">&nbsp;</th>
            <th style="width: 350px;">ContributorID</th>
            <th style="width: 250px;">Name</th>
            <th style="width: 250px;">Contributor Email</th>
            <th>Helper</th>
            <th>#Recordings</th>
            <th>Etiology</th>
        </tr>
        @{

            foreach (var contributor in Model.ContributorsQualifyForSecondCard)
            {
                <tr>
                    <td>
                        <!-- <input type="checkbox" id="chkSecondGiftCard_@contributor.ContributorId" name="chkSecondGiftCard" value="@contributor.ContributorId" checked> -->
                    </td>
                    <td>@contributor.ContributorId </td>
                    <td>@contributor.FirstName &nbsp; @contributor.LastName</td>
                    <td>@contributor.EmailAddress </td>
                    <td>
                        @if (contributor.HelperInd == "Yes")
                        {
                            @Html.Raw( contributor.HelperFirstName + " " + contributor.HelperLastName + " (" + contributor.HelperEmail + ")")
                        }

                    </td>
                    <td style="text-align: center">@contributor.RecordingCount</td>
                    <td style="text-align: left">
                        @contributor.Etiology
                        @{
                            if (!string.IsNullOrEmpty(contributor.PromptCategory))
                            {
                                <text>-</text> @contributor.PromptCategory
                                ;
                            }

                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
<hr />
<table>
    <tr>
        <td>
            <h4>Contributors Qualified for Third Gift Card (@Model.ContributorsQualifyForThirdCard.Count)</h4>
        </td>
        <td><input type="button" id="btnThirdGiftCard" name="btnThirdGiftCard" value="Generate CSV File" /></td>
    </tr>
</table>


<div style="width: 1500px">
    <table id="ContributorsForThirdGiftCard">
        <tr>
            <th style="width: 10px;">&nbsp;</th>
            <th style="width: 350px;">ContributorID</th>
            <th style="width: 250px;">Name</th>
            <th style="width: 250px;">Contributor Email</th>
            <th>Helper</th>
            <th>#Recordings</th>
            <th>Etiology</th>
        </tr>
        @{

            foreach (var contributor in Model.ContributorsQualifyForThirdCard)
            {
                <tr>
                    <td><input type="checkbox" id="chkThirdGiftCard_@contributor.ContributorId" name="chkThirdGiftCard" value="@contributor.ContributorId" checked></td>
                    <td>@contributor.ContributorId </td>
                    <td>@contributor.FirstName &nbsp; @contributor.LastName</td>
                    <td>@contributor.EmailAddress </td>
                    <td>
                        @if (contributor.HelperInd == "Yes")
                        {
                            @Html.Raw( contributor.HelperFirstName + " " + contributor.HelperLastName + " (" + contributor.HelperEmail + ")")
                        }
                    </td>
                    <td style="text-align: center">@contributor.RecordingCount</td>
                    <td style="text-align: left">
                        @contributor.Etiology
                        @{
                            if (!string.IsNullOrEmpty(contributor.PromptCategory))
                            {
                                <text>-</text> @contributor.PromptCategory
                                ;
                            }

                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
@section scripts {
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnFirstGiftCard').click(function () {
            var contributorFirstGiftCardIDs = [];
            $('[name="chkFirstGiftCard"]:checked').each(function () {
                contributorFirstGiftCardIDs.push(this.value);
            });
            if (contributorFirstGiftCardIDs.length > 0)
                GenerateGiftCard(contributorFirstGiftCardIDs, 1);
            else
                alert("Please select a contributor to generate gift card.");
        });

        $('#btnSecondGiftCard').click(function () {
            var contributorSecondGiftCardIDs = [];
            $('[name="chkSecondGiftCard"]:checked').each(function () {
                contributorSecondGiftCardIDs.push(this.value);
            });
            if (contributorSecondGiftCardIDs.length > 0)
                GenerateGiftCard(contributorSecondGiftCardIDs, 2);
            else
                alert("Please select a contributor to generate gift card.");
        });

        $('#btnThirdGiftCard').click(function () {
            var contributorThirdGiftCardIDs = [];
            $('[name="chkThirdGiftCard"]:checked').each(function () {
                contributorThirdGiftCardIDs.push(this.value);
            });
            if (contributorThirdGiftCardIDs.length > 0)
                GenerateGiftCard(contributorThirdGiftCardIDs, 3);
            else
                alert("Please select a contributor to generate gift card.");

        });


        function GenerateGiftCard(contributorIDs, giftCardType) {
            $.ajax({
                url: '@Url.Action("GenerateGiftCard", "Report")',
                type: "POST",
                data: {
                        "contributorIDs": contributorIDs, "cardType": giftCardType, "paymentType":"check"
                },
                success: function (response) {
                    if (response.success === true) {
                        if (response.message != "") {
                            window.location.href =
                                "@Url.RouteUrl(new { Controller = "Extension", Action = "DownloadFile" })/?fileName=" +
                                response.message;
                            setTimeout(function () {
                                location.reload(true);
                            }, 1000);
                        }
                    }
                    else {
                        if (response.message != "") {
                            alert(message);
                        }
                    }

                },
                error: function () { alert('Error Generate Gift Card! It could be the timeout issue. Please try to reload your browser.'); }
            });
        }


        $('#ContributorsForFirstGiftCard').on('click', 'a.markPaid', function (e) {
            e.preventDefault();
            alert("mark paid");

        });
    });//End document ready

</script>
}
