@model SpeechAccessibility.Annotator.Models.DailyContributorSpeechFileReportViewModel
@{
    
}

<h1>Daily Report For Contributors Speech Files </h1>
<p><b>Today: </b>@Model.TodayDate.ToShortDateString() </p>
<p><b>Number of New Contributors: </b> 
    @{
        if (Model.NewContributorIDs.Any())
        {
            @Model.NewContributorIDs.Count
        }
    }</p>
<p><b>New Contributors Recordings (including SIT recordings):</b>
    <table id="DailyReportNewContributorRecordings">
        @{
            foreach (var item in Model.NewContributorWithNumberRecording)
            {
                <tr>
                    <td style="width: 350px;">@item.Item1 </td>
                    <td>@item.Item2</td>
                </tr>
               
            }

        }
    </table>
   

    </p>
<p><b>Existing Contributors New Recordings</b>
    <table id="DailyReportExistingContributorRecordings">
        @{
            foreach (var item in Model.ExistingContributorsNewRecordings)
            {
                <tr>
                    <td style="width: 350px;">@item.Item1 </td>
                    <td>@item.Item2</td>
                </tr>

            }

        }
    </table>
    </p>
    
