@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   ViewBag.Title = "To-Discuss Speech Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<h1>To-Discuss Speech Files</h1>
<div id="top"></div>
@{
    var userRole = @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}
<input type="hidden" id="UserRole" value="@userRole" />
<label id="lblMessage" name="lblMessage" class="errorMessage"></label>
<div style="width: 1800px">
    <table class="table table-striped table-bordered table-hover" id="SpeechFileTable" cellspacing="0" align="center"></table>
</div>

<div id="updateStatus-dialog" style="display: none">
    <p>
        <input type="hidden" id="hidUpdateStatusRecordingId" />
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        <label id="lblUpdateStatusMessage">Are you sure to update status for this speech file?</label><br />
        <b>ContributorID: </b><label id="lblUpdateStatusContributorId" name="lblUpdateStatusContributorId"></label><br />
        <b>Transcript: </b><label id="lblUpdateStatusTranscript" name="lblUpdateStatusTranscript"></label>
        <br /><b>Comments:</b><br /><textarea id="txtUpdateStatusComment" name="txtUpdateStatusComment" rows="4" cols="50"></textarea>
    </p>
</div>

<div id="upload-dialog" style="display: none">
    <input type="hidden" id="hidUploadRecordingId" name="recordingId" />
    <input type="hidden" id="hidUploadContributorId" name="contributorId" />
    <label id="lblUploadTranscriptMessage" name="lblUploadTranscriptMessage" class="errorMessage alert-info"></label><br/>
    <b>Transcript:</b>
    <label id="lblUploadTranscript" name="lblUploadTranscript"></label>
    <br/><b>ContributorID:</b><label id="lblUploadContributorId" name="lblUploadContributorId"></label>
    <input type="file" id="recordingFile" name="recordingFile" accept="audio/wav" />
</div>

<div id="listen-dialog" style="display: none">
    <p>
        <input type="hidden" id="hidUpdateTranscriptRecordingId" />
        <b>ContributorID:</b><label id="lblContributorId" name="lblContributorId"></label>
        <br/>
        <input type="hidden" id="hidFileName"/>
      
        <audio id="listenRecording" controls preload="none">
            <source src="" type="audio/wav"/>
        </audio>

        <br/>
        <b>Start:</b><input type="text" id="txtStartTime" size="10" />&nbsp;&nbsp;
        <b>End:</b><input type="text" id="txtEndTime" size="10"/>
        <br/>
        <b>Transcript:</b><br/>

        <textarea id="txtTranscript" name="txtTranscript" rows="4" cols="50"></textarea>

    </p>
</div>


@section scripts {
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  
    <script src="~/js/SpeechFile.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //bind datatable for Prompts
            var oSpeechFileTable = $("#SpeechFileTable").on('error.dt',
                function (e, settings, techNote, message) {
                    alert('Error loading the data. It could be the timeout issue. Please try to reload your browser. ', message);
                }).DataTable({
                    "serverSide": true,
                    "processing": true,
                    "responsive": true,
                    "iDisplayLength": 100,
                    "dom": "<'row'<'col-sm-4'l><'col-sm-4'i><'col-sm-4'f>>" +
                        "<'row'<'col-sm-12'tr>>p",
                    "ajax": ({
                        "url": '@Url.Action("LoadSpeechFiles", "SpeechFile")',
                        data: {
                            "recordingStatus": 5
                        },
                        "type": "POST",
                        "datatype": "json"
                    }),
                    "bAutoWidth": false,
                    "aaSorting": [[6, 'desc']],
                    "columns": [
                        {
                            "title": "FileId",
                            "data": "id",
                            "searchable": true,
                            "orderable": true,
                            "visible": false,
                            "name": "Id"
                        },
                        {
                            "title": "ContributorID",
                            "data": "contributorId",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "ContributorId"
                        },
                        {
                            "title": "Etiology",
                            "data": "etiologyName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "EtiologyName"
                        },
                        {
                            "title": "RecordingID",
                            "data": "id",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "Id"
                        },
                        {
                            "title": "Transcript",
                            "data": "modifiedTranscript",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "ModifiedTranscript"
                        },
                        {
                            "title": "Category",
                            "data": "categoryName",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "CategoryName"
                        },

                        {
                            "title": "Recorded Date",
                            "data": "createTS",
                            'render': function (data) {
                                var date = new Date(data);
                                var month = date.getMonth() + 1;
                                return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear() + "&nbsp;" + (date.getHours() < 10 ? ("0" + date.getHours()) : date.getHours()) + ":" + (date.getMinutes() < 10 ? ("0" + date.getMinutes()) : date.getMinutes());
                            },
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "CreateTS"
                        },
                        {
                            "title": "Comment",
                            "data": "comment",
                            "searchable": true,
                            "orderable": true,
                            "visible": true,
                            "name": "Comment"
                        },
                       
                        {
                            "title": "Actions",
                            "data": "id",
                            //"targets": 0,
                            "searchable": false,
                            "orderable": false,
                            "width": '300px',
                            "classDescription": 'dt-body-center',
                            "visible": true,
                            "name": "Id",
                            "render": function (data, type, row) {
                                var link = "";
                                if ($("#UserRole").val() === "TextAnnotator" || $("#UserRole").val() === "TextAnnotatorAdmin" || $("#UserRole").val() === "SystemAdmin") {
                                    link = '<a href="#" class="listen">Listen</a> | <a href="@Url.Action("DownloadSpeechFile", "SpeechFile")?recordingId=' + data
                                        + '&location=modified">Download</a> | <a href="#" class="upload" >Update Recording</a> | <a href="#" class="exclude">Exclude</a> '
                                        + '<br>| <a href="#" class="publish">Publish</a> | <a href="#" class="editComments">Edit Comments</a > ';
                                    return link;
                                }

                                link = '<a href="#" class="listen">Listen</a>';
                                return link;

                            }
                        }
                        ,
                        {
                            "title": "StartTime",
                            "data": "startTime",
                            "searchable": true,
                            "orderable": true,
                            "visible": false,
                            "name": "StartTime"
                        },
                        {
                            "title": "EndTime",
                            "data": "endTime",
                            "searchable": true,
                            "orderable": true,
                            "visible": false,
                            "name": "EndTime"
                        },
                    ],
                    //  "createdRow": function (row, data) {
                    //    //hide the Start and End Time column. if the columns are set to be invisible, the value of the columns are not available for listen dialog
                    //    $('td', row).eq(7).hide();
                    //    $('td', row).eq(8).hide();
                       
                    //},

                    "ordering": true,
                    "paging": true,
                    "pageLength": 100,
                    "lengthMenu": [[25, 50, 100, 3000], [25, 50, 100, 3000]]

                });
                
                  //hide the header for Start and End Time column
                //$('#SpeechFileTable th:nth-child(8)').hide();
                //$('#SpeechFileTable th:nth-child(9)').hide();


            //listen the recording
            $('#SpeechFileTable').on('click', 'a.listen', function (e) {
                e.preventDefault();

                var selectedRowData = oSpeechFileTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                $("#hidUpdateTranscriptRecordingId").val(row.id);
                $("#hidFileName").val(row.speechFilePath);
                $("#lblContributorId").text(row.contributorId);

                //var currentRow = $(this).closest("tr");
                $("#txtTranscript").val(row.modifiedTranscript);
                $("#txtStartTime").val(row.startTime);
                $("#txtEndTime").val(row.endTime);

                var audio = document.getElementById('listenRecording');
                audio.setAttribute("src", row.speechFilePath);
                audio.load();
                var dialog = $("#listen-dialog");
                if ($("#UserRole").val() === "TextAnnotator" || $("#UserRole").val() === "TextAnnotatorAdmin" || $("#UserRole").val() === "SystemAdmin") {
                    listenEditTanscriptRecording('@Url.Action("UpdateRecordingTranscript", "SpeechFile")', audio, dialog,oSpeechFileTable, $("#lblMessage"));
                }
                else {
                    listenRecording(audio, dialog);
                }

                dialog.dialog('open');
                return false;
            });


            //exclude the recording
            $('#SpeechFileTable').on('click', 'a.exclude', function (e) {
                e.preventDefault();

                var selectedRowData = oSpeechFileTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                //set selected row
                if ($(selectedRowData).hasClass('selected')) {
                    $(selectedRowData).removeClass('selected');
                } else {
                    oSpeechFileTable.$('tr.selected').removeClass('selected');
                    $(selectedRowData).addClass('selected');
                }

                $('#lblUpdateStatusMessage').text("Are you sure you want to exclude this speech file?");
                $("#hidUpdateStatusRecordingId").val(row.id);
                $("#lblUpdateStatusTranscript").text(row.modifiedTranscript);
                $("#lblUpdateStatusContributorId").text(row.contributorId);
                $("#txtUpdateStatusComment").val(row.comment);

                UpdateRecordingStatus($("#updateStatus-dialog"), "Exclude Speech File", "exclude", '@Url.Action("UpdateStatusRecording", "SpeechFile")', oSpeechFileTable, $("#lblMessage"));
                $("#updateStatus-dialog").dialog('open');
                return false;
            });

            //publish the recording
            $('#SpeechFileTable').on('click', 'a.publish', function (e) {
                e.preventDefault();
                var selectedRowData = oSpeechFileTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                //set selected row
                if ($(selectedRowData).hasClass('selected')) {
                    $(selectedRowData).removeClass('selected');
                } else {
                    oSpeechFileTable.$('tr.selected').removeClass('selected');
                    $(selectedRowData).addClass('selected');
                }
                $('#lblUpdateStatusMessage').text("Are you sure you want to publish this speech file?");
                $("#hidUpdateStatusRecordingId").val(row.id);
                $("#lblUpdateStatusTranscript").text(row.modifiedTranscript);
                $("#lblUpdateStatusContributorId").text(row.contributorId);
                $("#txtUpdateStatusComment").val(row.comment);

                UpdateRecordingStatus($("#updateStatus-dialog"), "Publish Speech File", "publish", '@Url.Action("UpdateStatusRecording", "SpeechFile")', oSpeechFileTable, $("#lblMessage"));
                $("#updateStatus-dialog").dialog('open');
                return false;
            });

            //edit comments
            $('#SpeechFileTable').on('click', 'a.editComments', function (e) {
                e.preventDefault();
                var selectedRowData = oSpeechFileTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                $('#lblUpdateStatusMessage').text("Edit Comments for Speech File");
                $("#hidUpdateStatusRecordingId").val(row.id);
                $("#lblUpdateStatusTranscript").text(row.modifiedTranscript);
                $("#lblUpdateStatusContributorId").text(row.contributorId);
                $("#txtUpdateStatusComment").val(row.comment);

                UpdateRecordingStatus($("#updateStatus-dialog"), "Edit Comments for Speech File", "editComments", '@Url.Action("UpdateStatusRecording", "SpeechFile")', oSpeechFileTable, $("#lblMessage"));
                $("#updateStatus-dialog").dialog('open');


                return false;
            });

          
             //upload new recording
          $('#SpeechFileTable').on('click',
                'a.upload',
                function (e) {
                e.preventDefault();
                    var selectedRowData = oSpeechFileTable.row($(this).closest('tr'));
                    var row = selectedRowData.data();
              
                    $("#hidUploadRecordingId").val(row.id);
                    $("#hidUploadContributorId").val(row.contributorId);
                    $("#lblUploadContributorId").text(row.contributorId);
                    $("#lblUploadTranscript").text(row.modifiedTranscript);
                    uploadNewRecording('@Url.Action("UploadModifiedRecording", "SpeechFile")', $("#upload-dialog"), $("#lblMessage"))
                    $("#upload-dialog").dialog('open');
                    return false;
            });

      
        });//End document ready

    </script>
}
