@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>User Manual for {place holder}</h2>

<ul>
    <li><a href="@Url.Action("SpeechFileManual", "UserManual")">Speech Files</a></li>
    <li><a href="@Url.Action("ContributorManual", "UserManual")">Contributor</a></li>
    <li><a href="@Url.Action("PromptsManual", "UserManual")">Prompts</a></li>
    <li><a href="@Url.Action("BlocksManual", "UserManual")">Blocks</a></li>
    <li><a href="@Url.Action("ReportManual", "UserManual")">Reports</a></li>
    <li><a href="@Url.Action("ManageUsersManual", "UserManual")">Manage Users</a></li>
</ul>